<template>
  <section>
    <BaseDataTables
      :entity="type + ' category'"
      :objects="categories"
      :columns="isSub ? [0, 1, 2, 3, 4] : [0, 1, 3, 4]"
      v-on="{
        ...(can('create.categories') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th v-show="isSub">Main Category</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.categories', 'toggle.categories'])">Actions</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !category.status }"
          v-for="(category, index) in categories"
          :key="category.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ category.name }}</td>
          <td v-show="isSub">{{ category.main_category?.name || "" }}</td>
          <td>{{ slotProps.setZone(category.created_at) }}</td>
          <td>{{ slotProps.setZone(category.updated_at) }}</td>
          <td
            :data-order="category.status"
            v-if="can(['edit.categories', 'toggle.categories'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: category.id })"
                v-if="can('edit.categories')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(category.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: category.id,
                    status: category.status,
                  })
                "
                v-if="can('toggle.categories')"
              >
                <i class="fa" :class="toggleClasses(category.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>

    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.categories', 'edit.categories', 'toggle.categories'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Category</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': nameErrors }"
              v-model.lazy="categoryData.name"
              id="name"
              placeholder="Category name..."
            />
            <template v-if="nameErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in nameErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group" v-if="type == 'sub'">
            <label for="main">Main Category</label>
            <select
              class="custom-select text-capitalize"
              :class="{ 'is-invalid': mainErrors }"
              id="main"
              v-model="categoryData.main"
            >
              <option
                class="text-capitalize"
                v-for="main in mains"
                :key="main.id"
                :value="main.id"
              >
                {{ main.name }}
              </option>
            </select>
            <template v-if="mainErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in mainErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, reactive, toRefs, watch } from "vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";
import BaseModal from "../../components/base/BaseModal.vue";
import usePromise from "../../hooks/usePromise";

export default {
  name: "Categories",
  components: { BaseDataTables, BaseModal },
  props: {
    type: String,
  },
  setup(props) {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      selectedId: "",
      categories: [],
      categoryData: {
        name: "",
      },
      mains: [],
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const category = state.categories.find((category) => category.id == data.id);
        Object.keys(state.categoryData).forEach((key) => {
          state.categoryData[key] = category[key];
          if (key == "main") {
            state.categoryData[key] = category.main_category.id;
          }
        });
        state.selectedId = data.id;
      } else if (mode == "toggle") {
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this category`;
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = `categories/${props.type}`;
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.categoryData).forEach(([key, value]) => {
          let temp = key;
          if (temp == "main") {
            temp = "main_category";
          }
          formData.append(temp, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `categories/${state.selectedId}/${props.type}`;
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `categories/${state.selectedId}/${props.type}/toggle`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.categoryData).forEach((key) => {
          state.categoryData[key] = "";
          if (key == "main") {
            state.categoryData[key] = state.mains[0].id;
          }
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      () => props.type,
      (newVal, oldVal) => {
        if (newVal != oldVal && newVal != undefined) {
          createPromise(`categories/${newVal}`);
        }
      },
      {
        immediate: true,
      }
    );

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("categories")) {
          state.categories = newVal.categories;
          if (props.type == "sub") {
            state.mains = newVal.mains;
            state.categoryData["main"] = state.mains[0].id;
          }
        } else if (state.mode == "create" && newVal.hasOwnProperty("category")) {
          state.categories = [newVal.category, ...state.categories];
        } else if (["update", "toggle"].includes(state.mode)) {
          const category = state.categories.find(
            (category) => category.id == state.selectedId
          );
          if (state.mode == "update") {
            Object.entries(state.categoryData).forEach(([key, value]) => {
              if (
                key == "main" &&
                props.type == "sub" &&
                category["main_category"].id != value
              ) {
                category["main_category"] = state.mains.find((main) => main.id == value);
              } else {
                category[key] = value;
              }
            });
          } else {
            category.status = !category.status;
          }
          category.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );
    return {
      ...toRefs(state),
      onModalCall,
      toggleClasses,
      onConfirmModal,
      onCloseModal,
      nameErrors: computed(() => errors.value.name || false),
      mainErrors: computed(() => errors.value.main_category || false),
      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      isSub: computed(() => props.type == "sub"),

      can: inject("can"),
    };
  },
};
</script>

<style></style>
