<template>
  <section>
    <BaseDataTables
      entity="department"
      :columns="[0, 1, 2, 3]"
      :objects="departments"
      v-on="{
        ...(can('create.departments') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.departments', 'toggle.departments'])">Actions</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !department.status }"
          v-for="(department, index) in departments"
          :key="department.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ department.title }}</td>
          <td>{{ slotProps.setZone(department.created_at) }}</td>
          <td>{{ slotProps.setZone(department.updated_at) }}</td>
          <td
            :data-order="department.status"
            v-if="can(['edit.departments', 'toggle.departments'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: department.id })"
                v-if="can('edit.departments')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(department.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: department.id,
                    status: department.status,
                  })
                "
                v-if="can('toggle.departments')"
              >
                <i class="fa" :class="toggleClasses(department.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.departments', 'edit.departments', 'toggle.departments'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Department</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!titleErrors }"
              v-model.lazy="departmentData.title"
              id="title"
              placeholder="Department title..."
            />
            <template v-if="!!titleErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in titleErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onMounted, reactive, toRefs, watch } from "vue";
import BaseModal from "../../components/base/BaseModal.vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";
import usePromise from "../../hooks/usePromise";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      departments: [],
      selectedId: "",
      departmentData: {
        title: "",
      },
    });

    onMounted(() => {
      createPromise("departments");
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const department = state.departments.find(
          (department) => department.id == data.id
        );
        Object.keys(state.departmentData).forEach((key) => {
          state.departmentData[key] = department[key];
        });
        state.selectedId = data.id;
      } else if (mode == "toggle") {
        state.selectedId = data.id;
        state.mode = "toggle";
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this department`;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "departments";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.departmentData).forEach(([key, value]) => {
          formData.append(key, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `departments/${state.selectedId}`;
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `departments/${state.selectedId}/toggle`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.departmentData).forEach((key) => {
          state.departmentData[key] = "";
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("departments")) {
          state.departments = newVal.departments;
        } else if (newVal.hasOwnProperty("department")) {
          state.departments = [newVal.department, ...state.departments];
        } else if (["update", "toggle"].includes(state.mode)) {
          const department = state.departments.find(
            (department) => department.id == state.selectedId
          );
          if (state.mode == "update") {
            Object.entries(state.departmentData).forEach(([key, value]) => {
              department[key] = value;
            });
          } else {
            department.status = !department.status;
          }
          department.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      titleErrors: computed(() => errors.value.title || false),

      can: inject("can"),
    };
  },
};
</script>

<style></style>
