<template>
  <section>
    <BaseDataTables
      entity="employee"
      :columns="[0, 1, 2, 3, 4, 5, 6, 7, 8]"
      :objects="employees"
      v-on="{
        ...(can('create.employees') && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :fetching="isFetching"
      :isLarge="true"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Number</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Role</th>
        <th>Created</th>
        <th>Updated</th>
        <th
          v-if="can(['edit.employees', 'change.employee.password', 'toggle.employees'])"
        >
          Actions
        </th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{
            'inactive-row': !!employee.account && !employee.account.status,
          }"
          v-for="(employee, index) in employees"
          :key="employee.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.number }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.gender == 1 ? "Male" : "Female" }}</td>
          <td>
            {{ employee.department ? employee.department.title : "N/A" }}
          </td>
          <td>{{ employee.role.name }}</td>
          <td>{{ slotProps.setZone(employee.created_at) }}</td>
          <td>{{ slotProps.setZone(employee.updated_at) }}</td>
          <td
            :data-order="!!employee.account ? employee.account.status : false"
            v-if="can(['edit.employees', 'change.employee.password', 'toggle.employees'])"
          >
            <div
              class="d-flex justify-content-around align-items-center"
              v-if="isActionable(employee.id, employee.role)"
            >
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: employee.id })"
                v-if="can(['edit.employees', 'change.employee.password'])"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(employee.account.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: employee.id,
                    status: employee.account.status,
                  })
                "
                v-if="!!employee.account && can('toggle.employees')"
              >
                <i class="fa" :class="toggleClasses(employee.account.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      :loading="isLoading"
      :scrollable="true"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      v-if="
        can([
          'create.employees',
          'edit.employees',
          'change.employee.password',
          'toggle.employees',
        ])
      "
    >
      <template #header>
        <span class="text-capitalize">{{ modalHeading }}</span>
      </template>
      <template #body>
        <template v-if="['update', 'create', 'change'].includes(mode)">
          <div class="container my-0">
            <div class="row">
              <template
                v-if="mode != 'change' && can(['create.employees', 'edit.employees'])"
              >
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      :class="{ 'is-invalid': nameErrors }"
                      v-model.lazy="employeeData.name"
                      id="name"
                      placeholder="Employee name..."
                    />
                    <template v-if="nameErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in nameErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="number">Id Number</label>
                    <input
                      type="text"
                      class="form-control"
                      :class="{ 'is-invalid': numberErrors }"
                      id="number"
                      v-model.lazy="employeeData.number"
                      placeholder="Employee Id Number..."
                    />
                    <template v-if="numberErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in numberErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      :class="{ 'is-invalid': emailErrors }"
                      id="email"
                      v-model.lazy="employeeData.email"
                      placeholder="Employee email..."
                    />
                    <template v-if="emailErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in emailErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input
                      type="tel"
                      class="form-control"
                      :class="{ 'is-invalid': phoneErrors }"
                      id="phone"
                      v-model.lazy="employeeData.phone"
                      placeholder="Employee phone..."
                    />
                    <template v-if="phoneErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in phoneErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <select
                      class="custom-select text-capitalize"
                      :class="{ 'is-invalid': genderErrors }"
                      id="gender"
                      v-model="employeeData.gender"
                    >
                      <option value="" disabled>Select Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                    <template v-if="genderErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in genderErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="role">Role</label>
                    <select
                      id="role"
                      class="custom-select text-capitalize"
                      :class="{ 'is-invalid': roleErrors }"
                      v-model="employeeData.role"
                      @change="filterDepts"
                    >
                      <option value="" disabled>Select Role</option>
                      <option
                        class="text-capitalize"
                        v-for="role in roles"
                        :key="role.id"
                        :value="role.id"
                      >
                        {{ role.name }}
                      </option>
                    </select>
                    <template v-if="roleErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in roleErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="department">Department</label>
                    <select
                      class="custom-select text-capitalize"
                      :class="{ 'is-invalid': departmentErrors }"
                      id="department"
                      v-model="employeeData.department"
                    >
                      <template v-if="roleSelected">
                        <option value="" disabled>Select Department</option>
                        <option
                          class="text-capitalize"
                          v-for="department in filteredDepts"
                          :key="department.id"
                          :value="department.id"
                        >
                          {{ department.title }}
                        </option>
                      </template>
                      <option value="" disabled v-else>Select Role First</option>
                    </select>
                    <template v-if="departmentErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in departmentErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
              </template>
              <div
                class="col-sm-12"
                v-if="
                  (['create', 'change'].includes(mode) && needAccount) ||
                  (mode == 'update' &&
                    (employeeData.haveAccount ||
                      (!employeeData.haveAccount && needAccount)))
                "
              >
                <button
                  type="button"
                  class="btn btn-success my-2"
                  v-if="
                    mode == 'update' &&
                    employeeData.haveAccount &&
                    can('change.employee.password')
                  "
                  @click="onModalCall('change')"
                >
                  Change Password
                </button>
                <template
                  v-if="
                    (['create', 'change'].includes(mode) && needAccount) ||
                    (mode == 'update' && !employeeData.haveAccount && needAccount)
                  "
                >
                  <div class="form-group">
                    <label for="password"
                      >Password
                      <i
                        class="fa fa-info det-item"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Password must contain: minimum 8 characters, 1 capital letter,  1 special character & 1 digit."
                      >
                      </i
                    ></label>
                    <input
                      type="password"
                      class="form-control"
                      :class="{ 'is-invalid': passwordErrors }"
                      v-model.lazy="passData.password"
                      id="password"
                      placeholder="Employee password..."
                    />
                    <i
                      id="eye-icon"
                      class="far fa-eye show-pass"
                      @click="changePassType()"
                    ></i>
                    <template v-if="passwordErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in passwordErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      v-model.lazy="passData.cpassword"
                      id="confirm-password"
                      placeholder="Employee confirm password..."
                    />
                  </div>
                </template>
              </div>
            </div>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import { useStore } from "vuex";
import BaseModal from "../../components/base/BaseModal.vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";
import usePromise from "../../hooks/usePromise";

export default {
  components: {
    BaseModal,
    BaseDataTables,
  },
  setup() {
    const { result, errors, fetching, loading, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      employees: [],
      roles: [],
      departments: [],
      filteredDepts: [],
      selectedId: "",
      employeeData: {
        name: "",
        number: "",
        email: "",
        phone: "",
        gender: "",
        role: "",
        department: "",
        haveAccount: false,
      },
      passData: {
        password: "",
        cpassword: "",
      },
    });

    const employeeId = useStore().getters.user.id;
    const needAccount = computed(() => {
      const temp = state.roles.find((role) => role.id == state.employeeData.role);
      const cond = temp != undefined ? temp.isUser : false;
      return cond;
    });

    onBeforeMount(() => {
      createPromise("employees");
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function isActionable(id, role) {
      return employeeId != id && role.id != 1;
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const employee = state.employees.find((employee) => employee.id == data.id);
        Object.keys(state.employeeData).forEach((key) => {
          if (key == "role" || key == "department") {
            state.employeeData[key] = employee[key].id;
            if (
              key == "department" &&
              state.roles.find((r) => r.id == employee.role.id).departments.length > 0 &&
              !state.roles
                .find((r) => r.id == employee.role.id)
                .departments.map((d) => d.id)
                .includes(state.employeeData[key])
            ) {
              state.employeeData[key] = "";
            }
            filterDepts();
          } else if (key == "haveAccount") {
            state.employeeData[key] = employee.role.isUser;
          } else {
            state.employeeData[key] = employee[key];
          }
        });
      } else if (mode == "toggle") {
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this employee`;
      }
      state.mode = mode;
      if (mode != "change") {
        state.selectedId = data.id;
        state.showModal = true;
      }
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "employees";
      if (["create", "update", "change"].includes(state.mode)) {
        if (state.mode != "change") {
          Object.entries(state.employeeData).forEach(([key, value]) => {
            if (key != "haveAccount") {
              formData.append(key, value);
            }
          });
          const need =
            state.mode == "create"
              ? needAccount.value
              : needAccount.value != state.employeeData["haveAccount"] &&
                needAccount.value;
          if (need) {
            setPasswordData(formData);
          }
          formData.append("needAccount", need);
        } else {
          setPasswordData(formData);
        }
        if (["update", "change"].includes(state.mode)) {
          formData.append("_method", "PUT");
          url = `employees/${state.selectedId}`;
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `employees/${state.selectedId}/toggle`;
      }
      createPromise({
        url: url,
        method: "POST",
        data: formData,
      });
    }

    function setPasswordData(formData) {
      Object.entries(state.passData).forEach(([key, value]) => {
        formData.append(key == "cpassword" ? "password_confirmation" : key, value);
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.employeeData).forEach((key) => {
          state.employeeData[key] = "";
        });
      }
      if (["change", "create"].includes(state.mode)) {
        Object.keys(state.passData).forEach((key) => {
          state.passData[key] = "";
        });
        changePassType(true);
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    function filterDepts() {
      const role = state.roles.find((r) => state.employeeData.role == r.id);
      if (role.departments.length > 0) {
        const ids = role.departments.map((d) => d.id);
        state.filteredDepts = state.departments.filter((d) => ids.includes(d.id));
      } else {
        state.filteredDepts = state.departments;
      }
    }

    function changePassType(reset = false) {
      const type =
        document.getElementById("password").type == "password" && !reset
          ? "text"
          : "password";
      if (!reset || type != "text") {
        document.getElementById("password").type = type;
        document.getElementById("confirm-password").type = type;
        const iconEl = document.getElementById("eye-icon");
        if (type == "text") {
          iconEl.classList.add("fa-eye-slash");
          iconEl.classList.remove("fa-eye");
        } else {
          iconEl.classList.add("fa-eye");
          iconEl.classList.remove("fa-eye-slash");
        }
      }
    }

    watch(
      result,
      (newVal) => {
        if (
          newVal.hasOwnProperty("employees") &&
          newVal.hasOwnProperty("departments") &&
          newVal.hasOwnProperty("roles")
        ) {
          state.employees = newVal.employees;
          state.departments = newVal.departments;
          state.roles = newVal.roles;
        } else if (newVal.hasOwnProperty("employee")) {
          state.employees = [newVal.employee, ...state.employees];
        } else if (["update", "toggle"].includes(state.mode)) {
          const employee = state.employees.find(
            (employee) => employee.id == state.selectedId
          );
          if (state.mode == "update") {
            Object.entries(state.employeeData).forEach(([key, value]) => {
              if (!["role", "department", "haveAccount"].includes(key)) {
                employee[key] = value;
              } else if (
                ["role", "department"].includes(key) &&
                employee[key].id != value
              ) {
                employee[key] = {
                  ...state[`${key}s`].find((obj) => obj.id == value),
                };
              } else if (key == "haveAccount" && needAccount.value != value) {
                employee["account"] = newVal.account || null;
              }
            });
          } else {
            employee.account.status = !employee.account.status;
          }
          employee.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      needAccount,
      toggleClasses,
      isActionable,
      onModalCall,
      onConfirmModal,
      onCloseModal,
      modalHeading: computed(
        () => state.mode + " " + (state.mode == "change" ? " password" : " employee")
      ),
      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      numberErrors: computed(() => errors.value.number || false),
      emailErrors: computed(() => errors.value.email || false),
      phoneErrors: computed(() => errors.value.phone || false),
      genderErrors: computed(() => errors.value.gender || false),
      passwordErrors: computed(() => errors.value.password || false),
      departmentErrors: computed(() => errors.value.department || false),
      roleErrors: computed(() => errors.value.role || false),

      roleSelected: computed(() => !!state.employeeData.role),
      filterDepts,
      changePassType,

      can: inject("can"),
    };
  },
};
</script>

<style scoped>
.det-item {
  height: 20px;
  width: 20px;
  background: #1cba9f;
  text-align: center;
  color: white;
  padding-top: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.show-pass {
  position: absolute;
  right: 24px;
  top: 41px;
  color: #1cba9f;
  cursor: pointer;
}
</style>
