<template>
  <section>
    <BaseDataTables
      entity="factory"
      :columns="[0, 1, 2, 3, 4]"
      :objects="factories"
      v-on="{
        ...(can('create.factories') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.factories', 'toggle.factories'])">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !factory.status }"
          v-for="(factory, index) in factories"
          :key="factory.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ factory.name }}</td>
          <td>{{ factory.address || "N/A" }}</td>
          <td>{{ slotProps.setZone(factory.created_at) }}</td>
          <td>{{ slotProps.setZone(factory.updated_at) }}</td>
          <td
            :data-order="factory.status"
            v-if="can(['edit.factories', 'toggle.factories'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: factory.id })"
                v-if="can('edit.factories')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(factory.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: factory.id,
                    status: factory.status,
                  })
                "
                v-if="can('toggle.factories')"
              >
                <i class="fa" :class="toggleClasses(factory.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.factories', 'edit.factories', 'toggle.factories'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Factory</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!nameErrors }"
              v-model.lazy="factoryData.name"
              id="name"
              placeholder="Factory name..."
            />
            <template v-if="!!nameErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in nameErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="address">Address (Optional)</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!addressErrors }"
              v-model.lazy="factoryData.address"
              id="address"
              placeholder="Factory address..."
            />
            <template v-if="!!addressErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in addressErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../hooks/usePromise";
import BaseModal from "../../components/base/BaseModal.vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      factories: [],
      selectedId: "",
      factoryData: {
        name: "",
        address: "",
      },
    });

    onBeforeMount(() => {
      createPromise("factories");
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const factory = state.factories.find((factory) => factory.id == data.id);
        Object.keys(state.factoryData).forEach((key) => {
          state.factoryData[key] = factory[key];
        });
        state.selectedId = data.id;
      } else if (mode == "toggle") {
        state.selectedId = data.id;
        state.mode = "toggle";
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this factory`;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "factories";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.factoryData).forEach(([key, value]) => {
          formData.append(key, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `factories/${state.selectedId}`;
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `factories/${state.selectedId}/toggle`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.factoryData).forEach((key) => {
          state.factoryData[key] = "";
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("factories")) {
          state.factories = newVal.factories;
        } else if (newVal.hasOwnProperty("factory")) {
          state.factories = [newVal.factory, ...state.factories];
        } else if (["update", "toggle"].includes(state.mode)) {
          const factory = state.factories.find(
            (factory) => factory.id == state.selectedId
          );
          if (state.mode == "update") {
            Object.entries(state.factoryData).forEach(([key, value]) => {
              factory[key] = value;
            });
          } else {
            factory.status = !factory.status;
          }
          factory.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      addressErrors: computed(() => errors.value.address || false),

      can: inject("can"),
    };
  },
};
</script>
