<template>
  <section>
    <BaseDataTables
      entity="role"
      :columns="[0, 1, 2, 3, 4]"
      :objects="roles"
      v-on="{
        ...(can('create.roles') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
      :scrollable="true"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Departments</th>
        <th>Panels</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can('edit.roles')">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr v-for="(role, index) in roles" :key="role.id">
          <td>{{ index + 1 }}</td>
          <td>{{ role.name }}</td>
          <td>
            <ul v-if="role.departments.length > 0">
              <li v-for="(department, index) in role.departments" :key="index">
                {{ department.title }}
              </li>
            </ul>
            <template v-else>All departments</template>
          </td>
          <td>
            <ul v-if="role.isUser && role.panels.length > 0">
              <li v-for="(panel, index) in role.panels" :key="index">
                {{ panel.title }}
                <div class="ml-2">
                  Permissions:
                  <ul v-if="haveAnyPermission(panel.id, role.permissions)">
                    <li
                      v-for="p in filterPermissions(panel.id, role.permissions)"
                      :key="p.id"
                    >
                      {{ p.title }}
                    </li>
                  </ul>
                  <template v-else>None</template>
                </div>
              </li>
            </ul>
            <template v-else>N/A</template>
          </td>
          <td>{{ slotProps.setZone(role.created_at) }}</td>
          <td>{{ slotProps.setZone(role.updated_at) }}</td>
          <td v-if="can('edit.roles')">
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: role.id })"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      :scrollable="true"
      :large="true"
      v-if="can(['create.roles', 'edit.roles'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Role</span>
      </template>
      <template #body>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!nameErrors }"
              v-model.lazy="roleData.name"
              id="name"
              placeholder="Role name..."
            />
            <template v-if="nameErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in nameErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group form-check" v-if="mode == 'create'">
            <input
              type="checkbox"
              class="form-check-input"
              v-model.lazy="roleData.isUser"
              id="isUser"
              placeholder="Role isUser..."
            />
            <label for="isUser" class="form-check-label">Is User</label>
          </div>
          <template v-if="roleData['isUser']">
            <div class="form-group">
              <label for="panels">Panels</label>
              <select
                id="panels"
                class="custom-select"
                :class="{ 'is-invalid': !!panelsErrors }"
                v-model.lazy="roleData.panels"
                :style="{ 'min-height': '9.5rem' }"
                multiple
                @change="setPermissions()"
              >
                <option :value="panel.id" v-for="panel in panels" :key="panel.id">
                  {{ panel.title }}
                </option>
              </select>
              <template v-if="panelsErrors">
                <div
                  class="invalid-feedback"
                  v-for="(error, index) in panelsErrors"
                  :key="index"
                  v-text="error"
                ></div>
              </template>
            </div>
            <div class="form-group" v-if="stateHavePermissions">
              <label for="permissions">Permissions</label>
              <div class="custom-group-checkbox">
                <div v-for="(p, index) in permissions" :key="index">
                  <h6>{{ p.panel }}</h6>
                  <div
                    class="form-check"
                    v-for="ability in p.abilities"
                    :key="ability.id"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      :id="`ability-${ability.id + 2}`"
                      :value="ability.id"
                      v-model.lazy="roleData.permissions"
                      @change="(e) => tickAbility(p.panel, e)"
                    />
                    <label class="form-check-label" :for="`ability-${ability.id + 2}`">{{
                      ability.title
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <div class="form-group">
            <label for="departments">Departments</label>
            <select
              id="departments"
              class="custom-select"
              :class="{ 'is-invalid': !!deptErrors }"
              v-model.lazy="roleData.departments"
              :style="{ 'min-height': '9.5rem' }"
              multiple
            >
              <option
                :value="department.id"
                v-for="department in departments"
                :key="department.id"
              >
                {{ department.title }}
              </option>
            </select>
            <template v-if="deptErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in deptErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </form>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../hooks/usePromise";
import BaseModal from "../../components/base/BaseModal.vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise, setErrors } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      roles: [],
      panels: [],
      departments: [],
      permissions: [],
      selectedId: "",
      roleData: {
        name: "",
        isUser: false,
        panels: [],
        departments: [],
        permissions: [],
      },
    });

    onBeforeMount(() => {
      createPromise("roles");
    });

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const role = state.roles.find((role) => role.id == data.id);
        Object.keys(state.roleData).forEach((key) => {
          if (key == "panels" || key == "departments") {
            state.roleData[key] = role[key].map((item) => item.id);
          } else {
            state.roleData[key] = role[key];
          }
        });
        state.selectedId = data.id;
        setPermissions(false);
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "roles";
      Object.entries(state.roleData).forEach(([key, value]) => {
        if (["panels", "permissions", "departments"].indexOf(key) >= 0) {
          value.forEach((item) => {
            formData.append(`${key}[]`, item);
          });
        } else {
          formData.append(key, value);
        }
      });
      if (state.mode == "update") {
        formData.append("_method", "PUT");
        url = `roles/${state.selectedId}`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function haveAnyPermission(pId, permissions) {
      const panel = state.panels.find((p) => p.id == pId);
      return panel.permissions.length > 0
        ? panel.permissions.some((p) => permissions.indexOf(p.id) >= 0)
        : false;
    }

    function filterPermissions(pId, permissions) {
      return state.panels
        .find((p) => p.id == pId)
        .permissions.filter((p) => permissions.indexOf(p.id) >= 0);
    }

    function setPermissions(reset = true) {
      state.permissions = state.panels
        .filter((p) => state.roleData.panels.indexOf(p.id) >= 0)
        .map((p) => ({ panel: p.title, abilities: p.permissions }))
        .filter((p) => p.abilities.length > 0);
      if (reset) {
        state.roleData.permissions = [];
      }
    }

    function tickAbility(panel, e) {
      if (e.target.checked) {
        nestedAbibilty(panel, e.target.value);
      }
    }

    function nestedAbibilty(panel, id) {
      const p = state.permissions
        .find((pl) => pl.panel == panel)
        .abilities.find((pn) => pn.id == id);
      if (!!p.parent) {
        if (state.roleData.permissions.indexOf(p.parent) < 0) {
          state.roleData.permissions.push(p.parent);
        }
        nestedAbibilty(panel, p.parent);
      }
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create"].includes(state.mode)) {
        Object.keys(state.roleData).forEach((key) => {
          if (["panels", "permissions", "departments"].indexOf(key) >= 0) {
            state.roleData[key] = [];
          } else if (key == "isUser") {
            state.roleData[key] = false;
          } else {
            state.roleData[key] = "";
          }
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (
          newVal.hasOwnProperty("roles") &&
          newVal.hasOwnProperty("panels") &&
          newVal.hasOwnProperty("departments")
        ) {
          state.roles = newVal.roles;
          state.panels = newVal.panels;
          state.departments = newVal.departments;
        } else if (newVal.hasOwnProperty("role")) {
          state.roles = [newVal.role, ...state.roles];
        } else if (state.mode == "update") {
          const role = state.roles.find((role) => role.id == state.selectedId);
          Object.entries(state.roleData).forEach(([key, value]) => {
            if (
              (key == "panels" || key == "departments") &&
              role[key].map((i) => i.id) != value
            ) {
              role[key] = state[key].filter((item) => value.includes(item.id));
            } else {
              role[key] = value;
            }
          });
          role.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      onModalCall,
      onConfirmModal,
      onCloseModal,
      haveAnyPermission,
      filterPermissions,
      setPermissions,
      tickAbility,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      panelsErrors: computed(() => errors.value.panels || false),
      deptErrors: computed(() => errors.value.departments || false),

      setNestedErrors: computed(() => {
        if (typeof errors.value == "object") {
          Object.entries(errors.value).forEach(([k, v]) => {
            if (/^\w+\.\d+$/.test(k)) {
              setErrors(k.split(".")[0], v, k);
            }
          });
        }
      }),

      stateHavePermissions: computed(
        () => state.roleData.panels.length > 0 && state.permissions.length > 0
      ),

      can: inject("can"),
    };
  },
};
</script>

<style scoped>
.custom-group-checkbox {
  display: inline-block;
  width: 100%;
  height: 15rem;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  overflow-y: auto;
  color: #4e5154;
  vertical-align: middle;
  border: 1px solid #babfc7;
  border-radius: 0.25rem;
}

.custom-group-checkbox h6 {
  font-weight: bold;
  background-color: #cecece;
  color: #000000;
  padding: 5px 15px;
  margin-top: 0.5rem !important;
}

.custom-group-checkbox .form-check {
  margin-left: 2rem !important;
}
</style>
