<template>
  <section>
    <BaseDataTables
      entity="room"
      :columns="[0, 1, 2, 3, 4]"
      :objects="rooms"
      v-on="{
        ...(can('create.rooms') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Title</th>
        <th>Department</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.rooms', 'toggle.rooms'])">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !room.status }"
          v-for="(room, index) in rooms"
          :key="room.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ room.title }}</td>
          <td>{{ room.department.title }}</td>
          <td>{{ slotProps.setZone(room.created_at) }}</td>
          <td>{{ slotProps.setZone(room.updated_at) }}</td>
          <td :data-order="room.status" v-if="can(['edit.rooms', 'toggle.rooms'])">
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: room.id })"
                v-if="can('edit.rooms')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(room.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: room.id,
                    status: room.status,
                  })
                "
                v-if="can('toggle.rooms')"
              >
                <i class="fa" :class="toggleClasses(room.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.rooms', 'edit.rooms', 'toggle.rooms'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Room</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!titleErrors }"
              v-model.lazy="roomData.title"
              id="title"
              placeholder="Room title..."
            />
            <template v-if="!!titleErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in titleErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="department">Department</label>
            <select
              class="custom-select text-capitalize"
              :class="{ 'is-invalid': !!departmentErrors }"
              id="department"
              v-model="roomData.department"
            >
              <option
                class="text-capitalize"
                v-for="department in departments"
                :key="department.id"
                :value="department.id"
              >
                {{ department.title }}
              </option>
            </select>
            <template v-if="!!departmentErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in departmentErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../hooks/usePromise";
import BaseModal from "../../components/base/BaseModal.vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      rooms: [],
      departments: [],
      selectedId: "",
      roomData: {
        title: "",
        department: 0,
      },
    });

    onBeforeMount(() => {
      createPromise("rooms");
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const room = state.rooms.find((room) => room.id == id);
        Object.keys(state.roomData).forEach((key) => {
          if (key == "department") {
            state.roomData[key] = room[key].id;
          } else {
            state.roomData[key] = room[key];
          }
        });
        state.selectedId = data.id;
      } else if (mode == "toggle") {
        state.selectedId = data.id;
        state.mode = "toggle";
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this room`;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "rooms";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.roomData).forEach(([key, value]) => {
          formData.append(key, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `rooms/${state.selectedId}`;
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `rooms/${state.selectedId}/toggle`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.roomData).forEach((key) => {
          state.roomData[key] = "";
          if (key == "department") {
            state.roomData[key] = state.departments[0].id;
          }
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("rooms") && newVal.hasOwnProperty("departments")) {
          state.rooms = newVal.rooms;
          state.departments = newVal.departments;
          state.roomData.department = newVal.departments[0].id;
        } else if (newVal.hasOwnProperty("room")) {
          state.rooms = [newVal.room, ...state.rooms];
        } else if (["update", "toggle"].includes(state.mode)) {
          const room = state.rooms.find((room) => room.id == state.selectedId);
          if (state.mode == "update") {
            Object.entries(state.roomData).forEach(([key, value]) => {
              if (key == "department") {
                const department = state.departments.find((depart) => depart.id == value);
                room[key] = department;
              } else {
                room[key] = value;
              }
            });
          } else {
            room.status = !room.status;
          }
          room.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      titleErrors: computed(() => errors.value.title || false),
      departmentErrors: computed(() => errors.value.department || false),

      can: inject("can"),
    };
  },
};
</script>

<style></style>
