<template>
  <section>
    <BaseDataTables
      entity="workshop"
      :columns="[0, 1, 2, 3, 4, 5, 6, 7]"
      :objects="workshops"
      v-on="{
        ...(can('create.workshops') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Manager</th>
        <th>Engineer</th>
        <th>Date</th>
        <th>Day</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.workshops', 'delete.workshops'])">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr v-for="(workshop, index) in workshops" :key="workshop.id">
          <td>{{ index + 1 }}</td>
          <td>{{ workshop.name }}</td>
          <td>{{ workshop.manager }}</td>
          <td>{{ workshop.engineer }}</td>
          <td>{{ workshop.show_date[0] }}</td>
          <td>{{ workshop.show_date[1] }}</td>
          <td>{{ slotProps.setZone(workshop.created_at) }}</td>
          <td>{{ slotProps.setZone(workshop.updated_at) }}</td>
          <td
            :data-order="workshop.status"
            v-if="can(['edit.workshops', 'delete.workshops'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: workshop.id })"
                v-if="can('edit.workshops')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm danger"
                @click="
                  onModalCall('remove', {
                    id: workshop.id,
                  })
                "
                v-if="can('delete.workshops')"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.workshops', 'edit.workshops', 'delete.workshops'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Workshop</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!nameErrors }"
              v-model.lazy="workshopData.name"
              id="name"
              placeholder="Workshop name..."
            />
            <template v-if="!!nameErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in nameErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="manager">Manager</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!managerErrors }"
              v-model.lazy="workshopData.manager"
              id="manager"
              placeholder="Workshop manager..."
            />
            <template v-if="!!managerErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in managerErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="engineer">Engineer</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!engineerErrors }"
              v-model.lazy="workshopData.engineer"
              id="engineer"
              placeholder="Workshop engineer..."
            />
            <template v-if="!!engineerErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in engineerErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input
              type="datetime-local"
              class="form-control"
              :class="{ 'is-invalid': !!dateErrors }"
              v-model.lazy="workshopData.date"
              id="date"
              placeholder="Workshop date..."
            />
            <template v-if="!!dateErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in dateErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>Are you sure you want to delete this workshop?</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../hooks/usePromise";
import BaseModal from "../../components/base/BaseModal.vue";
import BaseDataTables from "../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      workshops: [],
      selectedId: "",
      workshopData: {
        name: "",
        manager: "",
        engineer: "",
        date: "",
      },
    });

    onBeforeMount(() => {
      createPromise("workshops");
    });

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const workshop = state.workshops.find((workshop) => workshop.id == data.id);
        Object.keys(state.workshopData).forEach((key) => {
          state.workshopData[key] = workshop[key];
        });
      }
      if (["update", "remove"].includes(mode)) {
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "workshops";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.workshopData).forEach(([key, value]) => {
          formData.append(key, value);
        });
      }
      if (["update", "remove"].includes(state.mode)) {
        formData.append("_method", state.mode == "update" ? "PUT" : "DELETE");
        url = `workshops/${state.selectedId}`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create"].includes(state.mode)) {
        Object.keys(state.workshopData).forEach((key) => {
          state.workshopData[key] = "";
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("workshops")) {
          state.workshops = newVal.workshops;
        } else if (newVal.hasOwnProperty("workshop")) {
          state.workshops = [newVal.workshop, ...state.workshops];
        }
        if (state.mode == "update" && newVal.hasOwnProperty("show_date")) {
          const workshop = state.workshops.find(
            (workshop) => workshop.id == state.selectedId
          );
          Object.entries(state.workshopData).forEach(([key, value]) => {
            workshop[key] = value;
          });
          workshop.show_date = newVal.show_date;
          workshop.updated_at = new Date().toISOString();
        } else if (state.mode == "remove") {
          const temp = Array.from(state.workshops);
          temp.splice(
            temp.findIndex((w) => w.id == state.selectedId),
            1
          );
          state.workshops = Array.from(temp);
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      managerErrors: computed(() => errors.value.manager || false),
      engineerErrors: computed(() => errors.value.engineer || false),
      dateErrors: computed(() => errors.value.date || false),

      can: inject("can"),
    };
  },
};
</script>
