<template>
  <section>
    <BaseDataTables
      entity="engineer"
      :objects="engineers"
      :columns="[0, 1, 2, 3, 4, 5]"
      v-on="{
        ...(can('create.equipment.supplier.engineers') && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can('edit.equipment.supplier.engineers')">Actions</th>
      </template>
      <template v-slot:body-rows="slotProps">
        <tr v-for="(engineer, index) in engineers" :key="engineer.id">
          <td>{{ index + 1 }}</td>
          <td>{{ engineer.name }}</td>
          <td>{{ engineer.email }}</td>
          <td>{{ engineer.phone }}</td>
          <td>{{ slotProps.setZone(engineer.created_at) }}</td>
          <td>{{ slotProps.setZone(engineer.updated_at) }}</td>
          <td v-if="can('edit.equipment.supplier.engineers')">
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: engineer.id })"
                v-if="visible"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="
        can('create.equipment.supplier.engineers', 'edit.equipment.supplier.engineers')
      "
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Engineer</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              :class="{ 'is-invalid': !!nameErrors }"
              v-model.lazy="engineerData.name"
              id="name"
              placeholder="Engineer name..."
            />
            <template v-if="!!nameErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in nameErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              :class="{ 'is-invalid': !!emailErrors }"
              v-model.lazy="engineerData.email"
              id="email"
              placeholder="Engineer email..."
            />
            <template v-if="!!emailErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in emailErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="tel"
              class="form-control"
              :class="{ 'is-invalid': !!phoneErrors }"
              v-model.lazy="engineerData.phone"
              id="phone"
              placeholder="Engineer phone..."
            />
            <template v-if="!!phoneErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in phoneErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, ref, toRefs, watch } from "vue";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";
import usePromise from "../../../hooks/usePromise";
import { useRoute } from "vue-router";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const route = useRoute();
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const supplier = ref(route.params.supplier);
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      engineers: [],
      selectedId: "",

      engineerData: {
        name: "",
        email: "",
        phone: "",
      },
    });

    onBeforeMount(() => {
      createPromise(`suppliers/${supplier.value}/engineers`);
    });

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const engineer = state.engineers.find((engineer) => engineer.id == data.id);
        Object.keys(state.engineerData).forEach((key) => {
          state.engineerData[key] = engineer[key];
        });
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "suppliers/engineers/";
      Object.entries(state.engineerData).forEach(([key, value]) => {
        formData.append(key, value);
      });
      if (state.mode == "update") {
        formData.append("_method", "PUT");
        url += state.selectedId;
      } else {
        formData.append("supplier", supplier.value);
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      Object.keys(state.engineerData).forEach((key) => {
        state.engineerData[key] = "";
      });
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(result, (newVal) => {
      if (newVal.hasOwnProperty("engineers")) {
        state.engineers = newVal.engineers;
      } else if (newVal.hasOwnProperty("engineer")) {
        state.engineers = [newVal.engineer, ...state.engineers];
      } else if (state.mode == "update") {
        const engineer = state.engineers.find(
          (engineer) => engineer.id == state.selectedId
        );
        Object.entries(state.engineerData).forEach(([key, value]) => {
          engineer[key] = value;
        });
        engineer.updated_at = new Date().toISOString();
      }
      if (!!state.mode && !!newVal) {
        onCloseModal();
      }
    });

    return {
      ...toRefs(state),
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      emailErrors: computed(() => errors.value.email || false),
      phoneErrors: computed(() => errors.value.phone || false),

      can: inject("can"),
    };
  },
};
</script>

<style></style>
