<template>
  <section>
    <BaseDataTables
      entity="supplier"
      :objects="suppliers"
      :columns="[0, 1, 2, 3, 4, 5, 7, 8]"
      :fetching="isFetching"
      v-on="{
        ...(can(`create.${type}.suppliers`) && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :isLarge="true"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Locale</th>
        <th v-if="can('view.equipment.supplier.engineers')" v-show="engBtnReq">
          Engineers
        </th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can([`edit.${type}.suppliers`, `toggle.${type}.suppliers`])">
          Actions
        </th>
      </template>
      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !supplier.status }"
          v-for="(supplier, index) in suppliers"
          :key="supplier.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.phone }}</td>
          <td>{{ supplier.address }}</td>
          <td>{{ supplier.locale }}</td>
          <td v-if="can('view.equipment.supplier.engineers')" v-show="engBtnReq">
            <router-link
              :to="{
                name: `${getPanel}.suppliers.engineers`,
                params: { supplier: supplier.id },
              }"
              class="btn btn-info"
              v-if="engBtnReq"
              >View</router-link
            >
          </td>
          <td>{{ slotProps.setZone(supplier.created_at) }}</td>
          <td>{{ slotProps.setZone(supplier.updated_at) }}</td>
          <td
            :data-order="supplier.status"
            v-if="can([`edit.${type}.suppliers`, `toggle.${type}.suppliers`])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: supplier.id })"
                v-if="can(`edit.${type}.suppliers`)"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(supplier.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: supplier.id,
                    status: supplier.status,
                  })
                "
                v-if="can(`toggle.${type}.suppliers`)"
              >
                <i class="fa" :class="toggleClasses(supplier.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="
        can([
          `create.${type}.suppliers`,
          `edit.${type}.suppliers`,
          `toggle.${type}.suppliers`,
        ])
      "
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Supplier</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{ 'is-invalid': !!nameErrors }"
                  v-model.lazy="supplierData.name"
                  id="name"
                  placeholder="Supplier name..."
                />
                <template v-if="!!nameErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in nameErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  :class="{ 'is-invalid': !!emailErrors }"
                  v-model.lazy="supplierData.email"
                  id="email"
                  placeholder="Supplier email..."
                />
                <template v-if="!!emailErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in emailErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  :class="{ 'is-invalid': !!phoneErrors }"
                  v-model.lazy="supplierData.phone"
                  id="phone"
                  placeholder="Supplier phone..."
                />
                <template v-if="!!phoneErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in phoneErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="locale">Locale</label>
                <select
                  id="locale"
                  class="custom-select"
                  v-model.number="supplierData.locale"
                  :class="{ 'is-invalid': !!localeErrors }"
                >
                  <option :value="index" v-for="(locale, index) in locales" :key="index">
                    {{ locale }}
                  </option>
                </select>
                <template v-if="!!localeErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in localeErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea
              class="form-control"
              :class="{ 'is-invalid': !!addressErrors }"
              v-model.lazy="supplierData.address"
              id="address"
              placeholder="Supplier address..."
            ></textarea>
            <template v-if="!!addressErrors">
              <div
                class="invalid-feedback"
                v-for="(error, index) in addressErrors"
                :key="index"
                v-text="error"
              ></div>
            </template>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, reactive, ref, toRefs, watch } from "vue";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";
import usePromise from "../../../hooks/usePromise";

export default {
  components: { BaseModal, BaseDataTables },
  props: {
    type: String,
  },
  setup(props) {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const locales = ["Local", "International", "City"];
    const type = ref(props.type);
    const state = reactive({
      getPanel: inject("panel"),
      showModal: false,
      mode: "",
      bodyTxt: "",
      suppliers: [],
      selectedId: "",
      supplierData: {
        name: "",
        email: "",
        phone: "",
        address: "",
        locale: 0,
      },
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const supplier = state.suppliers.find((supplier) => supplier.id == data.id);
        Object.keys(state.supplierData).forEach((key) => {
          if (key == "locale") {
            state.supplierData[key] = locales.indexOf(supplier[key]);
          } else {
            state.supplierData[key] = supplier[key];
          }
        });
        state.selectedId = data.id;
      } else if (mode == "toggle") {
        state.selectedId = data.id;
        state.mode = "toggle";
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this supplier`;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "suppliers";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.supplierData).forEach(([key, value]) => {
          formData.append(key, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `suppliers/${state.selectedId}`;
        } else {
          formData.append("type", type.value);
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `suppliers/${state.selectedId}/toggle`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      Object.keys(state.supplierData).forEach((key) => {
        if (key == "locale") {
          state.supplierData[key] = 0;
        } else {
          state.supplierData[key] = "";
        }
      });
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      () => props.type,
      (newVal, oldVal) => {
        if (newVal != oldVal && newVal != undefined) {
          createPromise(`suppliers/${newVal}`);
        }
      },
      {
        immediate: true,
      }
    );

    watch(result, (newVal) => {
      if (newVal.hasOwnProperty("suppliers") && newVal.hasOwnProperty("type")) {
        state.suppliers = newVal.suppliers;
        type.value = newVal.type;
      } else if (newVal.hasOwnProperty("supplier")) {
        state.suppliers = [newVal.supplier, ...state.suppliers];
      } else if (["update", "toggle"].includes(state.mode)) {
        const supplier = state.suppliers.find(
          (supplier) => supplier.id == state.selectedId
        );
        if (state.mode == "update") {
          Object.entries(state.supplierData).forEach(([key, value]) => {
            if (key == "locale") {
              supplier[key] = locales[value];
            } else {
              supplier[key] = value;
            }
          });
        } else {
          supplier.status = !supplier.status;
        }
        supplier.updated_at = new Date().toISOString();
      }
      if (!!state.mode && !!newVal) {
        onCloseModal();
      }
    });

    return {
      type,
      ...toRefs(state),
      locales,
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      emailErrors: computed(() => errors.value.email || false),
      phoneErrors: computed(() => errors.value.phone || false),
      addressErrors: computed(() => errors.value.address || false),
      localeErrors: computed(() => errors.value.locale || false),
      engBtnReq: computed(() => type.value == "equipment"),

      can: inject("can"),
    };
  },
};
</script>
