<template>
  <section>
    <BaseDataTables
      entity="medicine inventory"
      :columns="[0, 1, 2, 3, 4, 5, 6]"
      :objects="inventories"
      v-on="{
        ...(can('create.medicines.inventories') && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :extraOptions="{ columnDefs: [{ targets: 8, orderable: false }] }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Medicine</th>
        <th>Patch No</th>
        <th>Expiraton Date</th>
        <th>Production Date</th>
        <th>Quantity</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can('edit.medicines.inventories')">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr v-for="(inventory, index) in inventories" :key="inventory.id">
          <td>{{ index + 1 }}</td>
          <td>{{ inventory.medicine.name }}</td>
          <td>{{ inventory.patch_no }}</td>
          <td>{{ inventory.expired_at }}</td>
          <td>{{ inventory.produced_at }}</td>
          <td>{{ inventory.quantity }}</td>
          <td>{{ slotProps.setZone(inventory.created_at) }}</td>
          <td>{{ slotProps.setZone(inventory.updated_at) }}</td>
          <td v-if="can('edit.medicines.inventories')">
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: inventory.id })"
                v-if="inventory.actionable"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.medicines.inventories', 'edit.medicines.inventories'])"
    >
      <template #header>
        <span class="text-capitalize">Create Medicine</span>
      </template>
      <template #body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="medicine">Medicine</label>
              <select
                id="medicine"
                class="custom-select"
                :class="{ 'is-invalid': !!medicineErrors }"
                v-model.lazy="inventoryData.medicine"
              >
                <template v-if="medicines.length > 0">
                  <option value="" disabled>Select Medicine</option>
                  <option
                    :value="medicine.id"
                    v-for="(medicine, index) in medicines"
                    :key="index"
                  >
                    {{ medicine.name }}
                  </option>
                </template>
                <option value="" disabled v-else>No Medicines</option>
              </select>
              <template v-if="!!medicineErrors">
                <div
                  class="invalid-feedback"
                  v-for="(error, index) in medicineErrors"
                  :key="index"
                  v-text="error"
                />
              </template>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="patch-no">Patch No</label>
              <input
                type="text"
                id="patch-no"
                class="form-control"
                :class="{ 'is-invalid': !!patchErrors }"
                v-model.lazy="inventoryData.patch_no"
              />
              <template v-if="!!patchErrors">
                <div
                  class="invalid-feedback"
                  v-for="(error, index) in patchErrors"
                  :key="index"
                  v-text="error"
                ></div>
              </template>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input
                type="number"
                id="quantity"
                class="form-control"
                :class="{ 'is-invalid': !!quantityErrors }"
                v-model.lazy="inventoryData.quantity"
              />
              <template v-if="!!quantityErrors">
                <div
                  class="invalid-feedback"
                  v-for="(error, index) in quantityErrors"
                  :key="index"
                  v-text="error"
                ></div>
              </template>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="expired-at">Expiraton Date</label>
              <input
                type="date"
                id="expired-at"
                class="form-control"
                :class="{ 'is-invalid': !!expErrors }"
                v-model.lazy="inventoryData.expired_at"
              />
              <template v-if="!!expErrors">
                <div
                  class="invalid-feedback"
                  v-for="(error, index) in expErrors"
                  :key="index"
                  v-text="error"
                ></div>
              </template>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="produced-at">Production Date</label>
              <input
                type="date"
                id="produced-at"
                class="form-control"
                :class="{ 'is-invalid': !!proErrors }"
                v-model.lazy="inventoryData.produced_at"
              />
              <template v-if="!!proErrors">
                <div
                  class="invalid-feedback"
                  v-for="(error, index) in proErrors"
                  :key="index"
                  v-text="error"
                ></div>
              </template>
            </div>
          </div>
        </div>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../../hooks/usePromise";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      inventories: [],
      medicines: [],
      selectedId: "",
      inventoryData: {
        medicine: "",
        patch_no: "",
        quantity: 1,
        expired_at: "",
        produced_at: "",
      },
    });

    onBeforeMount(() => {
      createPromise("medicines/inventories");
    });

    function reverseDateStr(str) {
      return str.split("-").reverse().join("-");
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const inventory = state.inventories.find((inventory) => inventory.id == data.id);
        Object.keys(state.inventoryData).forEach((key) => {
          if (key == "medicine") {
            state.inventoryData[key] = inventory[key].id;
          } else if (key == "expired_at" || key == "produced_at") {
            state.inventoryData[key] = reverseDateStr(inventory[key]);
          } else {
            state.inventoryData[key] = inventory[key];
          }
        });
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      let url = "medicines/inventories";
      const formData = new FormData();
      Object.entries(state.inventoryData).forEach(([key, value]) => {
        formData.append(key, value);
      });
      if (state.mode == "update") {
        formData.append("_method", "PUT");
        url += `/${state.selectedId}`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      Object.keys(state.inventoryData).forEach((key) => {
        if (key == "quantity") {
          state.inventoryData[key] = 0;
        } else {
          state.inventoryData[key] = "";
        }
      });
      errors.value = "";
      state.selectedId = "";
      state.mode = "";
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("inventories") && newVal.hasOwnProperty("medicines")) {
          state.medicines = newVal.medicines;
          state.inventories = newVal.inventories;
        } else if (newVal.hasOwnProperty("inventory")) {
          state.inventories = [newVal.inventory, ...state.inventories];
        } else if (state.mode == "update") {
          const inventory = state.inventories.find((i) => i.id == state.selectedId);
          Object.entries(state.inventoryData).forEach(([key, value]) => {
            if (!["medicine", "expired_at", "produced_at"].includes(key)) {
              inventory[key] = value;
            } else {
              if (key == "medicine" && inventory[key].id != value) {
                inventory[key] = state.medicines.find((medicine) => medicine.id == value);
              } else if (key == "expired_at" || key == "produced_at") {
                inventory[key] = reverseDateStr(value);
              }
            }
          });
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      patchErrors: computed(() => errors.value.patch_no || false),
      quantityErrors: computed(() => errors.value.quantity || false),
      expErrors: computed(() => errors.value.expired_at || false),
      proErrors: computed(() => errors.value.produced_at || false),
      medicineErrors: computed(() => errors.value.medicine || false),

      can: inject("can"),
    };
  },
};
</script>
