<template>
  <section>
    <BaseDataTables
      entity="medicine"
      :columns="[0, 1, 2, 3, 4, 5]"
      :objects="medicines"
      v-on="{
        ...(can('create.medicines') && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Uses</th>
        <th>Side Effects</th>
        <th>Minimum Quantity</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.medicines', 'toggle.medicines'])">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !medicine.status }"
          v-for="(medicine, index) in medicines"
          :key="medicine.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ medicine.name }}</td>
          <td>{{ medicine.description }}</td>
          <td>{{ medicine.uses }}</td>
          <td>{{ medicine.side_effects }}</td>
          <td>{{ medicine.min_quantity }}</td>
          <td>{{ medicine.status ? "Available" : "Discontinued" }}</td>
          <td>{{ slotProps.setZone(medicine.created_at) }}</td>
          <td>{{ slotProps.setZone(medicine.updated_at) }}</td>
          <td
            :data-order="medicine.status"
            v-if="can(['edit.medicines', 'toggle.medicines'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: medicine.id })"
                v-if="can('edit.medicines')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(medicine.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: medicine.id,
                    status: medicine.status,
                  })
                "
                v-if="can('toggle.medicines')"
              >
                <i class="fa" :class="toggleClasses(medicine.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can(['create.medicines', 'edit.medicines', 'toggle.medicines'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Medicine</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{ 'is-invalid': !!nameErrors }"
                  v-model.lazy="medicineData.name"
                  id="name"
                  placeholder="Medicine name..."
                />
                <template v-if="!!nameErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in nameErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="uses">Uses</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{ 'is-invalid': !!usesErrors }"
                  v-model.lazy="medicineData.uses"
                  id="uses"
                  placeholder="Medicine uses..."
                />
                <template v-if="!!usesErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in usesErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="side-effects">Side Effects</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{ 'is-invalid': !!sideErrors }"
                  v-model.lazy="medicineData.side_effects"
                  id="side-effects"
                  placeholder="Medicine side effects..."
                />
                <template v-if="!!sideErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in sideErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="min-quantity">Minimum Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  :class="{ 'is-invalid': !!minErrors }"
                  v-model.lazy="medicineData.min_quantity"
                  id="min-quantity"
                  placeholder="Medicine minimum quantity..."
                />
                <template v-if="!!minErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in minErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  :class="{ 'is-invalid': !!descErrors }"
                  v-model.lazy="medicineData.description"
                  id="description"
                  placeholder="Medicine description..."
                ></textarea>
                <template v-if="!!descErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in descErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../../hooks/usePromise";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      medicines: [],
      selectedId: "",
      medicineData: {
        name: "",
        description: "",
        uses: "",
        side_effects: "",
        min_quantity: 1,
      },
    });

    onBeforeMount(() => {
      createPromise("medicines");
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const medicine = state.medicines.find((medicine) => medicine.id == data.id);
        Object.keys(state.medicineData).forEach((key) => {
          state.medicineData[key] = medicine[key];
        });
        state.selectedId = data.id;
      } else if (mode == "toggle") {
        state.selectedId = data.id;
        state.mode = "toggle";
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this medicine`;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "medicines";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.medicineData).forEach(([key, value]) => {
          formData.append(key, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `medicines/${state.selectedId}`;
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `medicines/${state.selectedId}/toggle`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.medicineData).forEach((key) => {
          if (key != "min_quantity") {
            state.medicineData[key] = "";
          } else {
            state.medicineData[key] = 1;
          }
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("medicines")) {
          state.medicines = newVal.medicines;
        } else if (newVal.hasOwnProperty("medicine")) {
          state.medicines = [newVal.medicine, ...state.medicines];
        } else if (["update", "toggle"].includes(state.mode) && !!newVal) {
          const medicine = state.medicines.find(
            (medicine) => medicine.id == state.selectedId
          );
          if (state.mode == "update") {
            Object.entries(state.medicineData).forEach(([key, value]) => {
              medicine[key] = value;
            });
          } else {
            medicine.status = !medicine.status;
          }
          medicine.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      descErrors: computed(() => errors.value.description || false),
      usesErrors: computed(() => errors.value.uses || false),
      sideErrors: computed(() => errors.value.side_effects || false),
      minErrors: computed(() => errors.value.min_quantity || false),

      can: inject("can"),
    };
  },
};
</script>
