<template>
  <section>
    <BaseDataTables
      entity="medicine order"
      :columns="[0, 1, 2, 3, 4, 5, 6, 7]"
      :objects="orders"
      v-on="{
        ...(can('create.medicines.orders') && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Supplier</th>
        <th>Supply Date</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can(['edit.medicines.orders', 'toggle.medicines.orders'])">Action</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr v-for="(order, index) in orders" :key="order.id">
          <td>{{ index + 1 }}</td>
          <td>{{ order.medicine.name }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.total_price }}</td>
          <td>{{ order.supplier.name }}</td>
          <td>{{ order.supplied_at || "N/A" }}</td>
          <td>{{ order.status ? "Received" : "Pending" }}</td>
          <td>{{ slotProps.setZone(order.created_at) }}</td>
          <td>{{ slotProps.setZone(order.updated_at) }}</td>
          <td
            :data-order="order.status"
            v-if="can(['edit.medicines.orders', 'toggle.medicines.orders'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: order.id })"
                v-if="order.actionable && can('edit.medicines.orders')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(order.status)[0]"
                @click="
                  onModalCall(!order.status ? 'complete' : 'revert', {
                    id: order.id,
                  })
                "
                v-if="order.actionable && can('toggle.medicines.orders')"
              >
                <i class="fa" :class="toggleClasses(order.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="
        can([
          'create.medicines.orders',
          'edit.medicines.orders',
          'toggle.medicines.orders',
        ])
      "
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Medicine Order</span>
      </template>
      <template #body>
        <div class="row">
          <template v-if="['update', 'create'].includes(mode)">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="supplier">Supplier</label>
                <select
                  id="supplier"
                  class="custom-select"
                  :class="{ 'is-invalid': !!supplierErrors }"
                  v-model.lazy="orderData.supplier"
                >
                  <template v-if="suppliers.length > 0">
                    <option value="" disabled>Select Supplier</option>
                    <option
                      :value="supplier.id"
                      v-for="(supplier, index) in suppliers"
                      :key="index"
                    >
                      {{ supplier.name }}
                    </option>
                  </template>
                  <option value="" disabled v-else>No Suppliers</option>
                </select>
                <template v-if="!!supplierErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in supplierErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="medicine">Medicine</label>
                <select
                  id="medicine"
                  class="custom-select"
                  :class="{ 'is-invalid': !!medicineErrors }"
                  v-model.lazy="orderData.medicine"
                >
                  <template v-if="medicines.length > 0">
                    <option value="" disabled>Select Medicine</option>
                    <option
                      :value="medicine.id"
                      v-for="(medicine, index) in medicines"
                      :key="index"
                    >
                      {{ medicine.name }}
                    </option>
                  </template>
                  <option value="" disabled v-else>No Medicines</option>
                </select>
                <template v-if="!!medicineErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in medicineErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  :class="{ 'is-invalid': !!quantityErrors }"
                  v-model.lazy="orderData.quantity"
                  id="quantity"
                  placeholder="Medicine quantity..."
                />
                <template v-if="!!quantityErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in quantityErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="total-price">Total Price</label>
                <input
                  type="number"
                  class="form-control"
                  :class="{ 'is-invalid': !!tPriceErrors }"
                  v-model.lazy="orderData.total_price"
                  id="total-price"
                  placeholder="Medicine order total price..."
                />
                <template v-if="!!tPriceErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in tPriceErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="supply-date">Supply Date</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  :class="{ 'is-invalid': !!sDateErrors }"
                  v-model.lazy="orderData.supplied_at"
                  id="supply-date"
                  placeholder="Medicine supply date..."
                />
                <template v-if="!!sDateErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in sDateErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
          </template>
          <template v-else-if="mode == 'complete'">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="patch-no">Patch No</label>
                <input
                  type="text"
                  id="patch-no"
                  class="form-control"
                  :class="{ 'is-invalid': !!patchErrors }"
                  v-model.lazy="inventoryData.patch_no"
                />
                <template v-if="!!patchErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in patchErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="expired-at">Expiraton Date</label>
                <input
                  type="date"
                  id="expired-at"
                  class="form-control"
                  :class="{ 'is-invalid': !!expErrors }"
                  v-model.lazy="inventoryData.expired_at"
                />
                <template v-if="!!expErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in expErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="produced-at">Production Date</label>
                <input
                  type="date"
                  id="produced-at"
                  class="form-control"
                  :class="{ 'is-invalid': !!proErrors }"
                  v-model.lazy="inventoryData.produced_at"
                />
                <template v-if="!!proErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in proErrors"
                    :key="index"
                    v-text="error"
                  ></div>
                </template>
              </div>
            </div>
          </template>
          <p class="col-sm-12" v-else>
            Are you sure you want to revert this complete order?
          </p>
        </div>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../../hooks/usePromise";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      selectedId: "",
      orders: [],
      suppliers: [],
      medicines: [],
      orderData: {
        medicine: "",
        supplier: "",
        total_price: "",
        quantity: 1,
        supplied_at: "",
      },
      inventoryData: {
        medicine: "",
        patch_no: "",
        quantity: 1,
        expired_at: "",
        produced_at: "",
      },
    });

    const dateTimeLocal = (date) =>
      new Date(new Date(date).getTime() - new Date(date).getTimezoneOffset() * 60000)
        .toISOString()
        .slice(0, -2);

    onBeforeMount(() => {
      createPromise("medicines/orders");
    });

    function toggleClasses(status) {
      return status ? ["btn-danger", "fa-times"] : ["btn-success", "fa-check"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update" || mode == "complete") {
        const order = state.orders.find((order) => order.id == data.id);
        if (mode == "update") {
          Object.keys(state.orderData).forEach((key) => {
            if (!["medicine", "supplier", "supplied_at"].includes(key)) {
              state.orderData[key] = order[key];
            } else {
              if (key == "medicine" || key == "supplier") {
                state.orderData[key] = order[key].id;
              } else if (key == "supplied_at" && !!order[key]) {
                state.orderData[key] = dateTimeLocal(order[key]);
              }
            }
          });
        } else {
          state.inventoryData["medicine"] = order.medicine.id;
          state.inventoryData["quantity"] = order.quantity;
        }
      }
      if (["update", "complete", "revert"].includes(mode)) {
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "medicines/orders";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.orderData).forEach(([key, value]) => {
          formData.append(key, value);
        });
      } else if (state.mode == "complete") {
        Object.entries(state.inventoryData).forEach(([key, value]) => {
          formData.append(key, value);
        });
      }
      if (["update", "complete", "revert"].includes(state.mode)) {
        formData.append("_method", "PUT");
        if (state.mode == "complete" || state.mode == "revert") {
          formData.append("status", state.mode);
        }
        url += `/${state.selectedId}${state.mode == "update" ? "/" : "/status"}`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create"].includes(state.mode)) {
        Object.keys(state.orderData).forEach((key) => {
          if (key == "quantity") {
            state.orderData[key] = 1;
          } else {
            state.orderData[key] = "";
          }
        });
      } else if (state.mode == "complete") {
        Object.keys(state.inventoryData).forEach((key) => {
          state.inventoryData[key] = "";
        });
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (
          newVal.hasOwnProperty("orders") &&
          newVal.hasOwnProperty("medicines") &&
          newVal.hasOwnProperty("suppliers")
        ) {
          state.orders = newVal.orders;
          state.medicines = newVal.medicines;
          state.suppliers = newVal.suppliers;
        } else if (newVal.hasOwnProperty("order")) {
          state.orders = [newVal.order, ...state.orders];
        } else if (["update", "complete", "revert"].includes(state.mode) && !!newVal) {
          const order = state.orders.find((order) => order.id == state.selectedId);
          if (state.mode == "update" && !!newVal.supplied_at) {
            Object.entries(state.orderData).forEach(([key, value]) => {
              if (!["medicine", "supplier", "supplied_at"].includes(key)) {
                order[key] = value;
              } else {
                if (
                  (key == "medicine" || key == "supplier") &&
                  state.orderData[key] != order[key].id
                ) {
                  order[key] = state[`${key}s`].find((o) => o.id == state.orderData[key]);
                } else if (key == "supplied_at") {
                  order[key] = !newVal.supplied_at ? "" : newVal.supplied_at;
                }
              }
            });
          } else if (state.mode == "complete" || state.mode == "revert") {
            order.status = state.mode == "complete";
          }
          order.updated_at = new Date().toISOString();
        }
        if (!!state.mode && !!newVal) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      medicineErrors: computed(() => errors.value.medicine || false),
      supplierErrors: computed(() => errors.value.supplier || false),
      tPriceErrors: computed(() => errors.value.total_price || false),
      sDateErrors: computed(() => errors.value.supplied_at || false),

      quantityErrors: computed(() => errors.value.quantity || false),

      patchErrors: computed(() => errors.value.patch_no || false),
      expErrors: computed(() => errors.value.expired_at || false),
      proErrors: computed(() => errors.value.produced_at || false),

      can: inject("can"),
    };
  },
};
</script>
