<template>
  <section>
    <BaseDataTables
      entity="medicine request"
      :columns="[0, 1, 2, 3, 4, 5]"
      :objects="requests"
      v-on="{
        ...(can('create.medicines.requests') && {
          createEntity: () => onModalCall('create'),
        }),
      }"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Dispenced</th>
        <th>Requested By</th>
        <th>Department</th>
        <th>Approved By</th>
        <th>Head Of Department</th>
        <th>Head Of Nurses</th>
        <th>Pharmacist</th>
        <th>Type</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th
          v-if="
            can([
              'edit.medicines.requests',
              'approve.medicines.requests',
              'dispence.medicines.requests',
            ])
          "
        >
          Action
        </th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr v-for="(request, index) in requests" :key="request.id">
          <td>{{ index + 1 }}</td>
          <td>{{ request.medicine.name }}</td>
          <td>{{ request.quantity }}</td>
          <td>{{ request.given }}</td>
          <td>{{ request.requester.name }}</td>
          <td>{{ request.department.name }}</td>
          <td>
            {{ request.approver ? request.approver.name : "Not approved" }}
          </td>
          <td>{{ request.hod.name }}</td>
          <td>{{ request.hon.name }}</td>
          <td>{{ request.pharmacist.name }}</td>
          <td>{{ request.type ? "Special" : "Normal" }}</td>
          <td>{{ request.status }}</td>
          <td>{{ slotProps.setZone(request.created_at) }}</td>
          <td>{{ slotProps.setZone(request.updated_at) }}</td>
          <td
            :data-order="request.status"
            v-if="
              can([
                'edit.medicines.requests',
                'approve.medicines.requests',
                'dispence.medicines.requests',
              ])
            "
          >
            <div
              class="d-flex justify-content-around align-items-center"
              v-if="!request.is_completed || !request.approver"
            >
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: request.id })"
                v-if="!request.approver && can('edit.medicines.requests')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                @click="onModalCall('approve', { id: request.id })"
                v-if="!request.approver && can('approve.medicines.requests')"
              >
                <i class="fa fa-check"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                @click="onModalCall('dispence', { id: request.id })"
                v-if="
                  !request.is_completed &&
                  !!request.approver &&
                  can('dispence.medicines.requests')
                "
              >
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
            <template v-else>Done</template>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      :confirmBtnReq="needConfirm"
      v-if="
        can([
          'create.medicines.requests',
          'edit.medicines.requests',
          'approve.medicines.requests',
          'dispence.medicines.requests',
        ])
      "
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Medicine</span>
      </template>
      <template #body>
        <template v-if="['update', 'create'].includes(mode)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="medicine">Medicine</label>
                <select
                  id="medicine"
                  class="custom-select"
                  :class="{ 'is-invalid': !!medicineErrors }"
                  v-model.lazy="requestData.medicine"
                >
                  <template v-if="medicines.length > 0">
                    <option value="" disabled>Select Medicine</option>
                    <option
                      :value="medicine.id"
                      v-for="(medicine, index) in medicines"
                      :key="index"
                    >
                      {{ medicine.name }}
                    </option>
                  </template>
                  <option value="" disabled v-else>No Medicines</option>
                </select>
                <template v-if="!!medicineErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in medicineErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  :class="{ 'is-invalid': !!quantityErrors }"
                  v-model.lazy="requestData.quantity"
                  id="quantity"
                  placeholder="Medicine quantity..."
                />
                <template v-if="!!quantityErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in quantityErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="department">Department</label>
                <select
                  id="department"
                  class="custom-select"
                  :class="{ 'is-invalid': !!deptErrors }"
                  v-model.lazy="requestData.department"
                  @change="fetchEmployees"
                >
                  <template v-if="departments.length > 0">
                    <option value="" disabled>Select Department</option>
                    <option
                      :value="department.id"
                      v-for="(department, index) in departments"
                      :key="index"
                    >
                      {{ department.title }}
                    </option>
                  </template>
                  <option value="" disabled v-else>No Departments</option>
                </select>
                <template v-if="!!deptErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in deptErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="hod">Head Of Department</label>
                <select
                  id="hod"
                  class="custom-select"
                  :class="{ 'is-invalid': !!hodErrors }"
                  v-model.lazy="requestData.hod"
                >
                  <template v-if="hasDepartment">
                    <template v-if="hods.length > 0">
                      <option value="" disabled>Select Department Head</option>
                      <option :value="hod.id" v-for="(hod, index) in hods" :key="index">
                        {{ hod.name }}
                      </option>
                    </template>
                    <option value="" disabled v-else>No Department Heads</option>
                  </template>
                  <option value="" disabled v-else>Select Department First</option>
                </select>
                <template v-if="!!hodErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in hodErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="requester">Requester</label>
                <select
                  id="requester"
                  class="custom-select"
                  :class="{ 'is-invalid': !!reqErrors }"
                  v-model.lazy="requestData.requester"
                >
                  <template v-if="hasDepartment">
                    <template v-if="requesters.length > 0">
                      <option value="" disabled>Select Department Head</option>
                      <option
                        :value="requester.id"
                        v-for="(requester, index) in requesters"
                        :key="index"
                      >
                        {{ requester.name }}
                      </option>
                    </template>
                    <option value="" disabled v-else>No Requesters</option>
                  </template>
                  <option value="" disabled v-else>Select Department First</option>
                </select>
                <template v-if="!!reqErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in reqErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="hon">Head Of Nurses</label>
                <select
                  id="hon"
                  class="custom-select"
                  :class="{ 'is-invalid': !!honErrors }"
                  v-model.lazy="requestData.hon"
                >
                  <template v-if="hasDepartment">
                    <template v-if="hons.length > 0">
                      <option value="" disabled>Select Nurses Head</option>
                      <option :value="hon.id" v-for="(hon, index) in hons" :key="index">
                        {{ hon.name }}
                      </option>
                    </template>
                    <option value="" disabled v-else>No Nurses Heads</option>
                  </template>
                  <option value="" disabled v-else>Select Department First</option>
                </select>
                <template v-if="!!honErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in honErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="pharmacist">Pharmacist</label>
                <select
                  id="pharmacist"
                  class="custom-select"
                  :class="{ 'is-invalid': !!pharErrors }"
                  v-model.lazy="requestData.pharmacist"
                >
                  <template v-if="pharmacists.length > 0">
                    <option value="" disabled>Select pharmacist</option>
                    <option
                      :value="pharmacist.id"
                      v-for="(pharmacist, index) in pharmacists"
                      :key="index"
                    >
                      {{ pharmacist.name }}
                    </option>
                  </template>
                  <option value="" disabled v-else>No Pharmacists</option>
                </select>
                <template v-if="!!pharErrors">
                  <div
                    class="invalid-feedback"
                    v-for="(error, index) in pharErrors"
                    :key="index"
                    v-text="error"
                  />
                </template>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group my-2">
                <div class="form-check pt-1">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    v-model="requestData.type"
                    id="type"
                  />
                  <label class="form-check-label" for="type">Special Request</label>
                </div>
              </div>
            </div>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import usePromise from "../../../hooks/usePromise";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      showModal: false,
      mode: "",
      requests: [],
      medicines: [],
      departments: [],
      requesters: [],
      hods: [],
      hons: [],
      pharmacists: [],
      selectedId: "",
      requestData: {
        department: "",
        requester: "",
        hod: "",
        hon: "",
        pharmacist: "",
        medicine: "",
        quantity: 1,
        type: "",
      },
      dept: "",
      bodyTxt: "",
      needConfirm: true,
      partial: false,
    });

    onBeforeMount(() => {
      createPromise("medicines/requests");
    });

    async function fetchEmployees(reset = true) {
      if (reset) {
        state.requestData.requester = "";
        state.requestData.hod = "";
        state.requestData.hon = "";
        state.requestData.pharmacist = "";
        state.dept = "";
      }

      await createPromise(
        `departments/${state.requestData.department}/employees/medicine`
      );
    }

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const request = state.requests.find((request) => request.id == data.id);
        Object.keys(state.requestData).forEach((key) => {
          if (key == "quantity" || key == "type") {
            state.requestData[key] = request[key];
          } else {
            state.requestData[key] = request[key].id;
          }
        });
        if (!state.dept || state.dept != state.requestData.department) {
          state.dept = state.requestData.department;
          fetchEmployees(false);
        }
      } else if (["approve", "dispence", "update"].includes(mode)) {
        if (mode == "approve") {
          state.bodyTxt = "Are you sure you want to approve this request?";
        } else if (mode == "dispence") {
          state.bodyTxt = "Are you sure you want to dispence medicines for this request?";
        }
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "medicines/requests";
      if (["create", "update"].includes(state.mode)) {
        Object.entries(state.requestData).forEach(([key, value]) => {
          formData.append(key, value);
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url += `/${state.selectedId}`;
        }
      } else if (state.mode == "approve") {
        formData.append("_method", "PUT");
        url += `/${state.selectedId}/approve`;
      } else if (state.mode == "dispence") {
        if (state.partial) {
          formData.append("partial", true);
        }
        url += `/${state.selectedId}/dispence`;
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create", "change"].includes(state.mode)) {
        Object.keys(state.requestData).forEach((key) => {
          if (key == "quantity") {
            state.requestData[key] = 1;
          } else if (key != "department") {
            state.requestData[key] = "";
          }
        });
      } else if (state.mode == "dispence") {
        state.needConfirm = true;
        state.partial = false;
      }
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(
      result,
      (newVal) => {
        if (
          newVal.hasOwnProperty("departments") &&
          newVal.hasOwnProperty("medicines") &&
          newVal.hasOwnProperty("requests") &&
          newVal.hasOwnProperty("pharmacists")
        ) {
          state.departments = newVal.departments;
          state.medicines = newVal.medicines;
          state.requests = newVal.requests;
          state.pharmacists = newVal.pharmacists;
        } else if (newVal.hasOwnProperty("request")) {
          state.requests = [newVal.request, ...state.requests];
          onCloseModal();
        } else if (
          newVal.hasOwnProperty("requesters") &&
          newVal.hasOwnProperty("hods") &&
          newVal.hasOwnProperty("hons")
        ) {
          state.requesters = newVal.requesters;
          state.hods = newVal.hods;
          state.hons = newVal.hons;
        } else if (["update", "approve", "dispence"].includes(state.mode) && !!newVal) {
          const request = state.requests.find((r) => r.id == state.selectedId);
          if (state.mode == "update") {
            Object.entries(state.requestData).forEach(([key, value]) => {
              if (key == "type" || key == "quantity") {
                request[key] = key == "type" ? !!value : value;
              } else if (request[key].id != value) {
                request[key] = state[key].find((t) => t.id == value);
              }
            });
          } else if (state.mode == "approve") {
            request.approver = newVal.approver;
            request.status = "Approved";
          } else if (state.mode == "dispence") {
            if (newVal.hasOwnProperty("text")) {
              state.bodyTxt = newVal.text;
              if (!newVal.success) {
                state.needConfirm = false;
              } else {
                state.partial = true;
              }
            } else if (newVal.hasOwnProperty("dispenced")) {
              request.given += newVal.dispenced;
              request.is_completed = request.quantity == newVal.dispenced;
              request.status = request.is_completed ? "Dispensed" : "Partially Dispensed";
            }
          }
          request.updated_at = new Date().toISOString();
        }
        if (
          !!state.mode &&
          !!newVal &&
          !(
            newVal.hasOwnProperty("requesters") &&
            newVal.hasOwnProperty("hods") &&
            newVal.hasOwnProperty("hons")
          ) &&
          !newVal.hasOwnProperty("text")
        ) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      fetchEmployees,
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      deptErrors: computed(() => errors.value.department || false),
      reqErrors: computed(() => errors.value.requester || false),
      hodErrors: computed(() => errors.value.hod || false),
      honErrors: computed(() => errors.value.hon || false),
      pharErrors: computed(() => errors.value.pharmacist || false),
      medicineErrors: computed(() => errors.value.medicine || false),
      quantityErrors: computed(() => errors.value.quantity || false),
      hasDepartment: computed(() => !!state.requestData.department),

      can: inject("can"),
    };
  },
};
</script>
