<template>
  <section v-if="!isFetching">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'admin.employees' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="primary">{{ data["employees"] }}</h3>
                    <span>Employees</span>
                  </div>
                  <div class="media-right media-middle">
                    <i class="icon-user-follow primary font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'admin.departments' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="danger">{{ data["departments"] }}</h3>
                    <span>Departments</span>
                  </div>
                  <div class="media-right media-middle">
                    <i class="icon-social-dropbox danger font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'admin.categories', params: { type: 'main' } }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="success">
                      {{ data["categories"] }}
                    </h3>
                    <span>Categories</span>
                  </div>
                  <div class="media-right media-middle">
                    <i class="icon-layers success font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'admin.suppliers', params: { type: 'inventory' } }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="warning">{{ data["suppliers"] }}</h3>
                    <span>Suppliers</span>
                  </div>
                  <div class="media-right media-middle">
                    <i class="icon-globe warning font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'admin.items' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="info">
                      {{ data["items"]["assigned"] + data["items"]["unassigned"] }}
                    </h3>
                    <span>Item Qrs</span>
                  </div>
                  <div class="media-right media-middle">
                    <i class="icon-globe info font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <Doughnut
          class="card card-body"
          title="Items"
          :labels="['Assigned Items', 'Unassigned Items']"
          :data="[data.items.assigned, data.items.unassigned]"
        />
      </div>
    </div>
  </section>
</template>

<script>
import { computed, onBeforeMount, ref, watch } from "vue";
import Doughnut from "../../components/charts/Doughnut.vue";
import usePromise from "../../hooks/usePromise";
export default {
  components: { Doughnut },
  setup() {
    const data = ref("");
    const { result, fetching, createPromise } = usePromise();

    onBeforeMount(() => {
      createPromise("dashboard/admin");
    });

    watch(
      result,
      (newVal) => {
        if (typeof newVal.counts == "object") {
          data.value = newVal.counts;
        }
      },
      {
        immediate: false,
      }
    );
    return {
      data,
      isFetching: computed(() => fetching.value),
    };
  },
};
</script>

<style></style>
