<template>
  <section v-if="!isFetching">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'equipments.list' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="primary">
                      {{ data["equipments"] }}
                    </h3>
                    <span>Equipments</span>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'equipments.suppliers' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="success">
                      {{ data["suppliers"] }}
                    </h3>
                    <span>Suppliers</span>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { computed, onBeforeMount, ref, watch } from "vue";
import usePromise from "../../hooks/usePromise";

export default {
  setup() {
    const { result, fetching, createPromise } = usePromise();
    const data = ref("");

    onBeforeMount(() => {
      createPromise("dashboard/equipment");
    });

    watch(result, (newVal) => {
      if (typeof newVal.hasOwnProperty("counts")) {
        data.value = newVal.counts;
      }
    });
    return {
      data,
      isFetching: computed(() => fetching.value),
    };
  },
};
</script>

<style></style>
