<template>
  <section v-if="!isFetching">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'pharmacy.medicines' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="primary">
                      {{ data["medicines"] }}
                    </h3>
                    <span>Medicines</span>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'pharmacy.medicines.orders' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="success">
                      {{ data["orders"] }}
                    </h3>
                    <span>Orders</span>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-sm-12 py-2">
        <h4>Reports</h4>
      </div>

      <div class="col-xl-4 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'pharmacy.report.departments.requests' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="success">
                      {{ data["reports"]["requests"] }}
                    </h3>
                    <span>Medicine Requested</span>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-12">
        <div class="card">
          <router-link :to="{ name: 'pharmacy.report.expirations' }">
            <div class="card-content">
              <div class="card-body">
                <div class="media">
                  <div class="media-body text-left w-100">
                    <h3 class="success">
                      {{ data["reports"]["expirations"] }}
                    </h3>
                    <span>Expirations</span>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-12">
        <Doughnut
          v-if="
            data.movements.monthly > 0 ||
            data.movements.weekly > 0 ||
            data.movements.yearly > 0
          "
          class="card card-body"
          title="Items"
          :labels="['Montly', 'Weekly', 'Yearly']"
          :data="[data.movements.monthly, data.movements.weekly, data.movements.yearly]"
        />
      </div>
    </div>
  </section>
</template>
<script>
import { computed, onBeforeMount, ref, watch } from "vue";
import Doughnut from "../../components/charts/Doughnut.vue";
import usePromise from "../../hooks/usePromise";

export default {
  components: { Doughnut },
  setup() {
    const { result, fetching, createPromise } = usePromise();
    const data = ref("");

    onBeforeMount(() => {
      createPromise("dashboard/pharmacy");
    });

    watch(result, (newVal) => {
      if (typeof newVal.hasOwnProperty("counts")) {
        data.value = newVal.counts;
      }
    });
    return {
      data,
      isFetching: computed(() => fetching.value),
    };
  },
};
</script>

<style></style>
