<template>
  <section>
    <BaseDataTables
      entity="equipment"
      :columns="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13]"
      :objects="equipments"
      v-on="{
        ...(can('create.equipments') && { createEntity: () => onModalCall('create') }),
      }"
      :fetching="isFetching"
      :isLarge="true"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Name</th>
        <th>Serial</th>
        <th>Model</th>
        <th>Main Category</th>
        <th>Sub Category</th>
        <th>Department</th>
        <th>Supplier</th>
        <th>Supplier Engineer</th>
        <th>Installation</th>
        <th>Warrenty</th>
        <th v-if="can(['create.equipment.services', 'view.equipment.services'])">
          Service
        </th>
        <th>Service Details</th>
        <th>Created</th>
        <th>Updated</th>
        <th
          v-if="can(['edit.equipments', 'toggle.equipments', 'view.equipment.details'])"
        >
          Actions
        </th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr
          :class="{ 'inactive-row': !equipment.status }"
          v-for="(equipment, index) in equipments"
          :key="equipment.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ equipment.name }}</td>
          <td>{{ equipment.serial_no }}</td>
          <td>{{ equipment.model }}</td>
          <td>{{ equipment.sub_category.main_category.name }}</td>
          <td>{{ equipment.sub_category.name }}</td>
          <td>{{ equipment.department.title }}</td>
          <td>{{ equipment.supplier_engineer.supplier.name }}</td>
          <td>{{ equipment.supplier_engineer.name }}</td>
          <td>{{ equipment.installation_date }}</td>
          <td>{{ equipment.warrenty || "N/A" }}</td>
          <td v-if="can(['create.equipment.services', 'view.equipment.services'])">
            <router-link
              class="btn btn-info mb-2"
              :to="{
                name: 'equipments.services',
                params: { equipment: equipment.id },
              }"
              v-if="can(['view.equipment.services'])"
              >View</router-link
            >

            <button
              type="button"
              class="btn btn-info"
              @click="onModalCall('service', { id: equipment.id })"
              v-if="can(['create.equipment.services'])"
            >
              Update
            </button>
          </td>
          <td>
            <p>
              <strong>Last Date: </strong
              >{{ equipment.latest_service?.last_date || "N/A" }}
            </p>
            <p>
              <strong>Next Date: </strong
              >{{ equipment.latest_service?.next_date || "N/A" }}
            </p>
            <p><strong>Total Cost: </strong>{{ equipment.serviceCost }}</p>
          </td>
          <td>{{ slotProps.setZone(equipment.created_at) }}</td>
          <td>{{ slotProps.setZone(equipment.updated_at) }}</td>
          <td
            :data-order="equipment.status"
            v-if="can(['edit.equipments', 'toggle.equipments', 'view.equipment.details'])"
          >
            <div class="d-flex justify-content-around align-items-center">
              <router-link
                :to="{
                  name: 'equipments.show',
                  params: { equipment: equipment.id },
                }"
                v-if="can('view.equipment.details')"
              >
                <button type="button" class="btn btn-sm btn-warning">
                  <i class="fa fa-eye"></i>
                </button>
              </router-link>
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: equipment.id })"
                v-if="can('edit.equipments')"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm"
                :class="toggleClasses(equipment.status)[0]"
                @click="
                  onModalCall('toggle', {
                    id: equipment.id,
                    status: equipment.status,
                  })
                "
                v-if="can('toggle.equipments')"
              >
                <i class="fa" :class="toggleClasses(equipment.status)[1]"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      :scrollable="true"
      :large="mode != 'service'"
      v-if="can(['create.equipments', 'edit.equipments', 'toggle.equipments'])"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Equipment</span>
      </template>
      <template #body>
        <template v-if="['update', 'create', 'service'].includes(mode)">
          <div class="container-fluid">
            <div class="row">
              <template v-if="mode != 'service'">
                <div class="col-sm-12">
                  <h5 class="my-2">Details</h5>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      :class="{ 'is-invalid': !!nameErrors }"
                      v-model.lazy="equipmentData.name"
                      id="name"
                      placeholder="Equipment name..."
                    />
                    <template v-if="!!nameErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in nameErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="serial-no">Serial No</label>
                    <input
                      type="text"
                      class="form-control"
                      :class="{ 'is-invalid': !!serialErrors }"
                      v-model.lazy="equipmentData.serial_no"
                      id="serial-no"
                      placeholder="Equipment serial no..."
                    />
                    <template v-if="!!serialErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in serialErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="model">Model</label>
                    <input
                      type="text"
                      class="form-control"
                      :class="{ 'is-invalid': !!modelErrors }"
                      v-model.lazy="equipmentData.model"
                      id="model"
                      placeholder="Equipment model..."
                    />
                    <template v-if="!!modelErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in modelErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="install-date">Installation Date</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      :class="{ 'is-invalid': !!installDateErrors }"
                      v-model.lazy="equipmentData.installation_date"
                      id="install-date"
                    />
                    <template v-if="!!installDateErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in installDateErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="warrenty">Warrenty (Optional)</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      :class="{ 'is-invalid': !!warrantyErrors }"
                      v-model.lazy="equipmentData.warrenty"
                      id="warrenty"
                      pattern=""
                    />
                    <template v-if="!!warrantyErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in warrantyErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="main">Main Category</label>
                    <select
                      class="custom-select"
                      id="main"
                      v-model="equipmentData.main"
                      @change="
                        () => {
                          selectedSC = '';
                        }
                      "
                    >
                      <option
                        class="text-capitalize"
                        v-for="main in mains"
                        :key="main.id"
                        :value="main.id"
                      >
                        {{ main.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="sub">Sub Category</label>
                    <select
                      class="custom-select"
                      :class="{ 'is-invalid': !!subErrors }"
                      id="sub"
                      v-model="equipmentData.sub"
                    >
                      <option
                        class="text-capitalize"
                        v-for="sub in subs"
                        :key="sub.id"
                        :value="sub.id"
                      >
                        {{ sub.name }}
                      </option>
                    </select>
                    <template v-if="!!subErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in subErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="supplier">Supplier</label>
                    <select
                      class="custom-select"
                      @change="getEngineersData"
                      id="supplier"
                      v-model="equipmentData.supplier"
                    >
                      <option value="" disabled>Select a supplier</option>
                      <option
                        class="text-capitalize"
                        v-for="supplier in suppliers"
                        :key="supplier.id"
                        :value="supplier.id"
                      >
                        {{ supplier.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="supEng">Supplier Engineer</label>
                    <select
                      class="custom-select"
                      id="supEng"
                      v-model="equipmentData.engineer"
                    >
                      <option value="" disabled v-if="!engHasLen">
                        Select a supplier first
                      </option>
                      <option
                        v-for="engineer in engineers"
                        :key="engineer.id"
                        :value="engineer.id"
                        v-else
                      >
                        {{ engineer.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="department">Department</label>
                    <select
                      class="custom-select"
                      id="department"
                      v-model="equipmentData.department"
                    >
                      <option
                        class="text-capitalize"
                        v-for="department in departments"
                        :key="department.id"
                        :value="department.id"
                      >
                        {{ department.title }}
                      </option>
                    </select>
                  </div>
                </div>
              </template>
              <template v-if="mode != 'update'">
                <div class="col-sm-12" v-if="mode == 'create'">
                  <h5 class="my-2">Service (Optional)</h5>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="last-date">Last Date</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      :class="{ 'is-invalid': !!lastDateErrors }"
                      v-model.lazy="serviceData.last_date"
                      id="last-date"
                    />
                    <template v-if="!!lastDateErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in lastDateErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="next-date">Next Date</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      :class="{ 'is-invalid': !!nextDateErrors }"
                      v-model.lazy="serviceData.next_date"
                      id="next-date"
                    />
                    <template v-if="!!nextDateErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in nextDateErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="cost">Total Cost</label>
                    <input
                      type="number"
                      class="form-control"
                      :class="{ 'is-invalid': !!costErrors }"
                      v-model.lazy="serviceData.cost"
                      id="cost"
                      placeholder="Service total cost..."
                      step="any"
                      min="0"
                    />
                    <template v-if="!!costErrors">
                      <div
                        class="invalid-feedback"
                        v-for="(error, index) in costErrors"
                        :key="index"
                        v-text="error"
                      ></div>
                    </template>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </template>
        <p v-else>{{ bodyTxt }}</p>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, toRefs, watch } from "vue";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";
import usePromise from "../../../hooks/usePromise";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const dateTimeLocal = (date) =>
      new Date(new Date(date).getTime() - new Date(date).getTimezoneOffset() * 60000)
        .toISOString()
        .slice(0, -2);

    const { result, errors, loading, fetching, createPromise } = usePromise();
    const state = reactive({
      getPanel: inject("panel"),
      showModal: false,
      mode: "",
      bodyTxt: "",
      equipments: [],
      departments: [],
      mains: [],
      suppliers: [],
      engineers: [],
      selectedId: "",
      serviceData: {
        last_date: "",
        next_date: "",
        cost: "",
      },
      equipmentData: {
        name: "",
        serial_no: "",
        model: "",
        main: "",
        sub: "",
        department: "",
        supplier: "",
        engineer: "",
        warrenty: "",
        installation_date: "",
      },
      selectedSC: "",
      subs: computed(() => {
        if (state.mains.length > 0 && state.equipmentData.main != "") {
          const subs = state.mains.find((main) => main.id == state.equipmentData.main)
            .sub_categories;
          state.equipmentData.sub = state.selectedSC || subs[0].id;
          return subs;
        }
        return [];
      }),
    });

    onBeforeMount(() => {
      createPromise("equipments");
    });

    function toggleClasses(status) {
      return !status ? ["btn-danger", "fa-toggle-off"] : ["btn-success", "fa-toggle-on"];
    }

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const equipment = state.equipments.find((equipment) => equipment.id == data.id);
        Object.keys(state.equipmentData).forEach((key) => {
          if (key == "main") {
            state.equipmentData[key] = equipment["sub_category"].main_category.id;
          } else if (key == "sub") {
            state.selectedSC = state.equipmentData[key] = equipment["sub_category"].id;
          } else if (key == "department") {
            state.equipmentData[key] = equipment["department"].id;
          } else if (
            key == "supplier" &&
            state.equipmentData[key] != equipment["supplier_engineer"].supplier.id
          ) {
            state.equipmentData[key] = equipment["supplier_engineer"].supplier.id;
            getEngineersData();
          } else if (key == "engineer") {
            state.equipmentData[key] = equipment["supplier_engineer"].id;
          } else if (
            ["installation_date", "warrenty"].includes(key) &&
            !!equipment[key]
          ) {
            state.equipmentData[key] = dateTimeLocal(equipment[key]);
          } else {
            state.equipmentData[key] = equipment[key];
          }
        });
      } else if (mode == "toggle") {
        state.mode = "toggle";
        state.bodyTxt = `Are you sure you want to ${
          data.status ? "deactive" : "activate"
        } this equipment`;
      }
      if (state.mode != "create") {
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function setServiceData(formData) {
      Object.entries(state.serviceData).forEach(([key, value]) => {
        formData.append(key, value);
      });
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "equipments";
      if (["create", "update"].includes(state.mode)) {
        Object.keys(state.equipmentData).forEach((key) => {
          if (key != "main" && key != "supplier") {
            formData.append(
              key == "sub" ? "sub_category" : key,
              state.equipmentData[key]
            );
          }
        });
        if (state.mode == "update") {
          formData.append("_method", "PUT");
          url = `equipments/${state.selectedId}`;
        } else {
          setServiceData(formData);
        }
      } else if (state.mode == "toggle") {
        formData.append("_method", "PUT");
        url = `equipments/${state.selectedId}/toggle`;
      } else if (state.mode == "service") {
        url = "equipments/services";
        formData.append("equipment", state.selectedId);
        setServiceData(formData);
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      if (["update", "create"].includes(state.mode)) {
        if (state.selectedSC != "") {
          state.selectedSC = "";
        }
        Object.keys(state.equipmentData).forEach((key) => {
          if (key == "main") {
            state.equipmentData[key] = state.mains[0].id;
          } else if (key == "sub") {
            state.equipmentData[key] = state.subs[0].id;
          } else if (key == "department") {
            state.equipmentData[key] = state.departments[0].id;
          } else if (key != "supplier" && key != "engineer") {
            state.equipmentData[key] = "";
          }
        });
      }
      if (["create", "service"].includes(state.mode)) {
        Object.keys(state.serviceData).forEach((key) => {
          state.serviceData[key] = "";
        });
      }
      state.mode = "";
      state.selectedId = "";
    }

    function getEngineersData() {
      createPromise(`suppliers/${state.equipmentData.supplier}/engineers`);
    }

    watch(
      result,
      (newVal) => {
        if (
          newVal.hasOwnProperty("equipments") &&
          newVal.hasOwnProperty("departments") &&
          newVal.hasOwnProperty("mains") &&
          newVal.hasOwnProperty("suppliers")
        ) {
          state.equipments = newVal.equipments;
          state.departments = newVal.departments;
          state.equipmentData.department = state.departments[0].id;
          state.mains = newVal.mains;
          state.equipmentData.main = newVal.mains[0].id;
          state.departments = newVal.departments;
          state.equipmentData.department = newVal.departments[0].id;
          state.suppliers = newVal.suppliers;
        } else if (newVal.hasOwnProperty("equipment")) {
          state.equipments = [newVal.equipment, ...state.equipments];
        } else if (newVal.hasOwnProperty("engineers")) {
          state.engineers = newVal.engineers;
          state.equipmentData.engineer = state.engineers[0].id;
        } else if (["update", "toggle", "service"].includes(state.mode)) {
          const equipment = state.equipments.find(
            (equipment) => equipment.id == state.selectedId
          );
          if (state.mode == "update") {
            Object.entries(state.equipmentData).forEach(([key, value]) => {
              if (
                key != "main" &&
                key != "sub" &&
                key != "department" &&
                key != "engineer" &&
                key != "installation_date"
              ) {
                equipment[key] = value;
              } else if (key == "sub" && equipment["sub_category"].id != value) {
                equipment["sub_category"] = {
                  ...state.subs.find((sc) => sc.id == value),
                  main_category: {
                    ...state.mains.find((mc) => mc.id == state.equipmentData.main),
                  },
                };
              } else if (key == "department" && equipment["department"].id != value) {
                equipment["department"] = state.departments.find(
                  (dept) => dept.id == value
                );
              } else if (
                key == "supplier" &&
                equipment["supplier_engineer"].supplier.id != value
              ) {
                equipment["supplier_engineer"].supplier = state.suppliers.find(
                  (supp) => supp.id == value
                );
              } else if (
                key == "engineer" &&
                equipment["supplier_engineer"].id != value
              ) {
                equipment["supplier_engineer"] = {
                  ...state.engineers.find((eng) => eng.id == value),
                  supplier: equipment["supplier_engineer"].supplier,
                };
              } else {
                Object.entries(newVal.dates).forEach(([key, value]) => {
                  equipment[key] = value;
                });
              }
            });
            equipment.update = new Date().toISOString();
          } else if (state.mode == "service") {
            equipment.latest_service = newVal.service;
          } else {
            equipment.status = !equipment.status;
            equipment.update = new Date().toISOString();
          }
        }
        if (!!state.mode && !newVal.hasOwnProperty("engineers")) {
          onCloseModal();
        }
      },
      {
        immediate: false,
      }
    );

    return {
      ...toRefs(state),
      toggleClasses,
      onModalCall,
      onConfirmModal,
      onCloseModal,
      getEngineersData,
      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      nameErrors: computed(() => errors.value.name || false),
      serialErrors: computed(() => errors.value.serial_no || false),
      warrantyErrors: computed(() => errors.value.warranty || false),
      installDateErrors: computed(() => errors.value.installation_date || false),
      modelErrors: computed(() => errors.value.model || false),
      subErrors: computed(() => errors.value.sub_category || false),
      supEngErrors: computed(() => errors.value.engineer || false),
      engHasLen: computed(() => state.engineers.length > 0),
      lastDateErrors: computed(() => errors.value.last_date || false),
      nextDateErrors: computed(() => errors.value.next_date || false),
      costErrors: computed(() => errors.value.cost || false),

      can: inject("can"),
    };
  },
};
</script>
