<template>
  <section>
    <BaseDataTables
      entity="service"
      :objects="services"
      :columns="[0, 1, 2, 3, 4]"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Last Date</th>
        <th>Next Date</th>
        <th>Cost</th>
        <th>Created</th>
        <th>Updated</th>
        <th v-if="can('edit.equipment.services')">Actions</th>
      </template>
      <template v-slot:body-rows="slotProps">
        <tr v-for="(service, index) in services" :key="service.id">
          <td>{{ index + 1 }}</td>
          <td>{{ service.last_date }}</td>
          <td>{{ service.next_date }}</td>
          <td>{{ service.cost }}</td>
          <td>{{ slotProps.setZone(service.created_at) }}</td>
          <td>{{ slotProps.setZone(service.updated_at) }}</td>
          <td v-if="can('edit.equipment.services')">
            <div class="d-flex justify-content-around align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                @click="onModalCall('update', { id: service.id })"
              >
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </template>
    </BaseDataTables>
    <BaseModal
      :show="showModal"
      @close="onCloseModal"
      @confirm="onConfirmModal"
      :loading="isLoading"
      v-if="can('edit.equipment.services')"
    >
      <template #header>
        <span class="text-capitalize">{{ mode }} Service</span>
      </template>
      <template #body>
        <div class="form-group">
          <label for="last-date">Last Date</label>
          <input
            type="datetime-local"
            class="form-control"
            :class="{ 'is-invalid': !!lastDateErrors }"
            v-model.lazy="serviceData.last_date"
            id="last-date"
          />
          <template v-if="!!lastDateErrors">
            <div
              class="invalid-feedback"
              v-for="(error, index) in lastDateErrors"
              :key="index"
              v-text="error"
            ></div>
          </template>
        </div>
        <div class="form-group">
          <label for="next-date">Next Date</label>
          <input
            type="datetime-local"
            class="form-control"
            :class="{ 'is-invalid': !!nextDateErrors }"
            v-model.lazy="serviceData.next_date"
            id="next-date"
          />
          <template v-if="!!nextDateErrors">
            <div
              class="invalid-feedback"
              v-for="(error, index) in nextDateErrors"
              :key="index"
              v-text="error"
            ></div>
          </template>
        </div>
        <div class="form-group">
          <label for="cost">Total Cost</label>
          <input
            type="number"
            class="form-control"
            :class="{ 'is-invalid': !!costErrors }"
            v-model.lazy="serviceData.cost"
            id="cost"
            placeholder="Service total cost..."
            step="any"
            min="0"
          />
          <template v-if="!!costErrors">
            <div
              class="invalid-feedback"
              v-for="(error, index) in costErrors"
              :key="index"
              v-text="error"
            ></div>
          </template>
        </div>
      </template>
    </BaseModal>
  </section>
</template>

<script>
import { computed, inject, onBeforeMount, reactive, ref, toRefs, watch } from "vue";
import BaseModal from "../../../components/base/BaseModal.vue";
import BaseDataTables from "../../../components/base/BaseDataTables.vue";
import usePromise from "../../../hooks/usePromise";
import { useRoute } from "vue-router";

export default {
  components: { BaseModal, BaseDataTables },
  setup() {
    const route = useRoute();
    const dateTimeLocal = (date) =>
      new Date(new Date(date).getTime() - new Date(date).getTimezoneOffset() * 60000)
        .toISOString()
        .slice(0, -2);
    const { result, errors, loading, fetching, createPromise } = usePromise();
    const equipment = ref(route.params.equipment);
    const state = reactive({
      showModal: false,
      mode: "",
      bodyTxt: "",
      services: [],
      selectedId: "",
      serviceData: {
        last_date: "",
        next_date: "",
        cost: "",
      },
    });

    onBeforeMount(() => {
      createPromise(`equipments/${equipment.value}/services`);
    });

    function onModalCall(mode, data = "") {
      if (mode == "update") {
        const service = state.services.find((service) => service.id == data.id);
        Object.keys(state.serviceData).forEach((key) => {
          if (key == "last_date" || key == "next_date") {
            state.serviceData[key] = dateTimeLocal(service[key]);
          } else {
            state.serviceData[key] = service[key];
          }
        });
        state.selectedId = data.id;
      }
      state.mode = mode;
      state.showModal = true;
    }

    function onConfirmModal() {
      const formData = new FormData();
      let url = "equipments/services/";
      Object.entries(state.serviceData).forEach(([key, value]) => {
        formData.append(key, value);
      });
      if (state.mode == "update") {
        formData.append("_method", "PUT");
        url += state.selectedId;
      } else {
        formData.append("equipment", equipment.value);
      }
      createPromise(url, {
        method: "POST",
        data: formData,
      });
    }

    function onCloseModal() {
      state.showModal = false;
      Object.keys(state.serviceData).forEach((key) => {
        state.serviceData[key] = "";
      });
      state.mode = "";
      state.selectedId = "";
      errors.value = "";
    }

    watch(result, (newVal) => {
      if (newVal.hasOwnProperty("services")) {
        state.services = newVal.services;
      } else if (newVal.hasOwnProperty("service")) {
        state.services = [newVal.service, ...state.services];
      } else if (state.mode == "update") {
        const service = state.services.find((service) => service.id == state.selectedId);
        if (state.mode == "update") {
          Object.entries(state.serviceData).forEach(([key, value]) => {
            if (key != "last_date" && key != "next_date") {
              service[key] = value;
            } else if (key == "last_date" && value != service[key]) {
              service[key] = newVal.data.dates[0];
            } else if (key == "next_date" && value != service[key]) {
              service[key] = newVal.data.dates[1];
            }
          });
        }
      }
      if (!!state.mode && !!newVal) {
        onCloseModal();
      }
    });

    return {
      ...toRefs(state),
      onModalCall,
      onConfirmModal,
      onCloseModal,

      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
      lastDateErrors: computed(() => errors.value.last_date || false),
      nextDateErrors: computed(() => errors.value.next_date || false),
      costErrors: computed(() => errors.value.cost || false),

      can: inject("can"),
    };
  },
};
</script>
