<template>
  <section class="mt-2" v-if="!isFetching && !!equipment">
    <div class="card">
      <div class="card-body container">
        <div class="row p-2">
          <div class="col-sm-6 mb-2">
            <fieldset>
              <legend>Details</legend>
              <p><strong>Name: </strong>{{ equipment.name }}</p>
              <p><strong>Serial No: </strong>{{ equipment.serial_no }}</p>
              <p><strong>Installation Date: </strong>{{ equipment.installation_date }}</p>
              <p><strong>Warrenty: </strong>{{ equipment.warrenty || "N/A" }}</p>
              <p>
                <strong>Status: </strong>{{ equipment.status ? "Active" : "Deactive" }}
              </p>
            </fieldset>
          </div>
          <div class="col-sm-6 mb-2">
            <fieldset>
              <legend>Category</legend>
              <p>
                <strong>Main Category: </strong
                >{{ equipment.sub_category.main_category.name }}
              </p>
              <p><strong>Sub Category: </strong>{{ equipment.sub_category.name }}</p>
            </fieldset>
          </div>
          <div class="col-sm-6 mb-2">
            <fieldset>
              <legend>Service</legend>
              <p>
                <strong>Last Date: </strong
                >{{ equipment.latest_service?.last_date || "N/A" }}
              </p>
              <p>
                <strong>Next Date: </strong
                >{{ equipment.latest_service?.next_date || "N/A" }}
              </p>
              <p><strong>Total Cost: </strong>{{ equipment.serviceCost }}</p>
            </fieldset>
          </div>
          <div class="col-sm-6 mb-2"></div>
          <div class="col-sm-6 mb-2">
            <fieldset>
              <legend>Supplier</legend>
              <p>
                <strong>Name: </strong>{{ equipment.supplier_engineer.supplier.name }}
              </p>
              <p>
                <strong>Email: </strong>{{ equipment.supplier_engineer.supplier.email }}
              </p>
              <p>
                <strong>Phone: </strong>{{ equipment.supplier_engineer.supplier.phone }}
              </p>
              <p>
                <strong>Locale: </strong>{{ equipment.supplier_engineer.supplier.locale }}
              </p>
              <p>
                <strong>Address: </strong
                >{{ equipment.supplier_engineer.supplier.address }}
              </p>
            </fieldset>
          </div>
          <div class="col-sm-6 mb-2">
            <fieldset>
              <legend>Supplier Engineer</legend>
              <p><strong>Name: </strong>{{ equipment.supplier_engineer.name }}</p>
              <p><strong>Email: </strong>{{ equipment.supplier_engineer.email }}</p>
              <p><strong>Phone: </strong>{{ equipment.supplier_engineer.phone }}</p>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { computed, onBeforeMount, ref, watch } from "vue";
import usePromise from "../../../hooks/usePromise";
import { useRoute } from "vue-router";

export default {
  setup() {
    const route = useRoute();
    const { result, fetching, createPromise } = usePromise();
    const equipment = ref("");

    onBeforeMount(() => {
      createPromise(`equipments/${route.params.equipment}`);
    });

    watch(result, (newVal) => {
      if (newVal.hasOwnProperty("equipment")) {
        equipment.value = newVal.equipment;
      }
    });

    return {
      equipment,
      isFetching: computed(() => fetching.value),
    };
  },
};
</script>

<style scoped>
.container {
  margin-top: 0 !important;
}
</style>
