<template>
  <section>
    <BaseDataTables
      entity="medicine inventory expiration"
      :columns="[0, 1, 2, 3, 4]"
      :objects="reports"
      :fetching="isFetching"
    >
      <template #header-cols>
        <th>S.No</th>
        <th>Medicine</th>
        <th>Patch No</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Expired At</th>
      </template>

      <template #body-rows>
        <tr v-for="(report, index) in reports" :key="index">
          <td>{{ index + 1 }}</td>
          <td>{{ report.medicine }}</td>
          <td>{{ report.patch_no }}</td>
          <td>{{ report.quantity }}</td>
          <td>{{ report.status }}</td>
          <td>{{ report.expired_at }}</td>
        </tr>
      </template>
    </BaseDataTables>
  </section>
</template>

<script>
import { computed, onBeforeMount, ref, watch } from "vue";
import usePromise from "../../../../hooks/usePromise";
import BaseDataTables from "../../../../components/base/BaseDataTables.vue";

export default {
  components: { BaseDataTables },
  setup() {
    const { result, fetching, createPromise } = usePromise();
    const reports = ref([]);

    onBeforeMount(() => {
      createPromise("reports/medicines/expiration");
    });

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("reports")) {
          reports.value = newVal.reports;
        }
      },
      {
        immediate: false,
      }
    );

    return {
      reports,
      isFetching: computed(() => fetching.value),
    };
  },
};
</script>
