<template>
  <section>
    <BaseDataTables
      entity="medicine inventory movement"
      :columns="[0, 1, 2, 3, 4, 5]"
      :objects="reports"
      :fetching="isFetching"
    >
      <template #header-buttons>
        <select
          name="period"
          id="period"
          class="custom-select"
          @change="(e) => getMedicineMovements(e)"
          :disabled="isLoading"
        >
          <option value="">All</option>
          <option value="1">Daily</option>
          <option value="2">Weekly</option>
          <option value="3">Monthly</option>
        </select>
      </template>
      <template #header-cols>
        <th>S.No</th>
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Department</th>
        <th>Movement</th>
        <th>Dispensed At</th>
      </template>

      <template v-slot:body-rows="slotProps">
        <tr v-for="(report, index) in reports" :key="index">
          <td>{{ index + 1 }}</td>
          <td>{{ report.medicine }}</td>
          <td>{{ report.quantity }}</td>
          <td>{{ report.department }}</td>
          <td>{{ report.movement }}</td>
          <td>{{ slotProps.setZone(report.dispensed_at) }}</td>
        </tr>
      </template>
    </BaseDataTables>
  </section>
</template>

<script>
import { computed, onBeforeMount, ref, watch } from "vue";
import usePromise from "../../../../hooks/usePromise";
import BaseDataTables from "../../../../components/base/BaseDataTables.vue";

export default {
  components: { BaseDataTables },
  setup() {
    const { result, loading, fetching, createPromise } = usePromise();
    const reports = ref([]);

    onBeforeMount(() => {
      createPromise("reports/medicines/movement?period=");
    });

    async function getMedicineMovements(e) {
      await createPromise("reports/medicines/movement?period=" + e.target.value);
    }

    watch(
      result,
      (newVal) => {
        if (newVal.hasOwnProperty("reports")) {
          reports.value = newVal.reports;
        }
      },
      {
        immediate: false,
      }
    );

    return {
      reports,
      getMedicineMovements,
      isLoading: computed(() => loading.value),
      isFetching: computed(() => fetching.value),
    };
  },
};
</script>
